<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjs.admin.xintuo.dao.ProductXtgsMapper">
    <resultMap id="BaseResultMap" type="com.tjs.admin.xintuo.model.ProductXtgs">
        <id column="xtgs_id" property="xtgsId" javaType="java.lang.Long" jdbcType="BIGINT" />
        <result column="xtgs_code" property="xtgsCode" jdbcType="VARCHAR" />
        <result column="xtgs_log" property="xtgsLog" jdbcType="VARCHAR" />
        <result column="xgts_zhname" property="xgtsZhname" jdbcType="VARCHAR" />
        <result column="xgts_enname" property="xgtsEnname" jdbcType="VARCHAR" />
        <result column="xgts_splname" property="xgtsSplname" jdbcType="VARCHAR" />
        <result column="xgts_createdate" property="xgtsCreatedate" javaType="java.util.Date" jdbcType="DATE" />
        <result column="xgts_zczb" property="xgtsZczb" javaType="java.math.BigDecimal" />
        <result column="xgts_city" property="xgtsCity" jdbcType="VARCHAR" />
        <result column="xgts_gsz" property="xgtsGsz" jdbcType="VARCHAR" />
        <result column="xgts_zjl" property="xgtsZjl" jdbcType="VARCHAR" />
        <result column="xgts_frdb" property="xgtsFrdb" jdbcType="VARCHAR" />
        <result column="xgts_dgd" property="xgtsDgd" jdbcType="VARCHAR" />
        <result column="xgts_ss" property="xgtsSs" jdbcType="VARCHAR" />
        <result column="xgts_gsxz" property="xgtsGsxz" jdbcType="VARCHAR" />
        <result column="xgts_zcglgm" property="xgtsZcglgm" jdbcType="VARCHAR" />
        <result column="xgts_gsjj" property="xgtsGsjj" jdbcType="VARCHAR" />        
        <result column="xgts_tjw" property="xgtsTjw" jdbcType="VARCHAR" />
        <result column="xgts_status" property="xgtsStatus" jdbcType="VARCHAR" />
        <result column="xgts_tjno" property="xgtsTjno" javaType="java.lang.Long" jdbcType="BIGINT" /> 
        <result column="xgts_pjsyl" property="xgtsPjsyl" javaType="java.math.BigDecimal" />
        <result column="xgts_cpdfbl" property="xgtsCpdfbl" javaType="java.math.BigDecimal" />      
    </resultMap>
    
    <sql id="Base_select_Column_List">
        xtgs_id, xtgs_code,xtgs_log, xgts_zhname, xgts_enname, xgts_splname,xgts_createdate,xgts_zczb,xgts_city,xgts_gsz,xgts_zjl,xgts_frdb,
        xgts_dgd,xgts_ss,xgts_gsxz,xgts_zcglgm,xgts_gsjj,xgts_status,xgts_tjw,xgts_tjno,xgts_pjsyl,xgts_cpdfbl
    </sql>
    
     <sql id="Base_insert_Column_List">
        xtgs_code,xtgs_log, xgts_zhname, xgts_enname, xgts_splname,xgts_createdate,xgts_zczb,xgts_city,xgts_gsz,xgts_zjl,xgts_frdb,xgts_dgd,
        xgts_ss,xgts_gsxz,xgts_zcglgm,xgts_gsjj,xgts_status,xgts_tjw,xgts_tjno,xgts_pjsyl,xgts_cpdfbl
    </sql>
    
    <select id="countProductXtgs" resultType="int" parameterType="com.tjs.admin.xintuo.controller.XinTuoGsCtrlModel" >
        select count(*) c from tjs_product_xtgs where 1=1
          <if test="productXtgs!=null and productXtgs.xgtsStatus!= null and productXtgs.xgtsStatus!= ''">
           AND xgts_status= #{productXtgs.xgtsStatus}
          </if>
          
           <if test="keyWord!= null and keyWord!= ''">
           AND (xgts_zhname like CONCAT('%',#{keyWord},'%') OR xtgs_code like CONCAT('%',#{keyWord},'%'))
          </if>
          
          
        
    </select>
    
    <select id="selectProductXtgs" resultType="com.tjs.admin.xintuo.model.ProductXtgs" parameterType="com.tjs.admin.xintuo.controller.XinTuoGsCtrlModel">
        select         
          <include refid="Base_select_Column_List" />           
        from  tjs_product_xtgs where 1=1
        
        <if test="productXtgs!=null and productXtgs.xgtsStatus!= null and productXtgs.xgtsStatus!= ''">
           AND xgts_status= #{productXtgs.xgtsStatus}
        </if>
        
          <if test="keyWord!= null and keyWord!= ''">
            AND (xgts_zhname like CONCAT('%',#{keyWord},'%') OR xtgs_code like CONCAT('%',#{keyWord},'%'))
          </if>
               
         <if test="sortField!= null and sortField!= ''">
           ORDER BY #{sortField} #{sortType}
        </if>
        
         <if test="pageNo!= 0">
           LIMIT #{limitStart} ,#{pageSize}
        </if>
        
    </select>
    
    <insert id="insertProductXtgs"   useGeneratedKeys="true" keyProperty="xtgsId"  parameterType="com.tjs.admin.xintuo.model.ProductXtgs">
        insert into tjs_product_xtgs(
         <include refid="Base_insert_Column_List" /> 
        ) values
        (#{xtgsCode},
        #{xtgsLog},
        #{xgtsZhname},
        #{xgtsEnname},
        #{xgtsSplname},
        #{xgtsCreatedate},
        #{xgtsZczb},
        #{xgtsCity},
        #{xgtsGsz},
        #{xgtsZjl},
        #{xgtsFrdb},
        #{xgtsDgd},
        #{xgtsSs},
        #{xgtsGsxz},
        #{xgtsZcglgm},
        #{xgtsGsjj},
        #{xgtsStatus},
        #{xgtsTjw},
        #{xgtsTjno},
        #{xgtsPjsyl},  
        #{xgtsCpdfbl}      
        )
    </insert>
    
    <update id="updateProductXtgs" parameterType="com.tjs.admin.xintuo.model.ProductXtgs">
        update tjs_product_xtgs set 
        xtgs_log=#{xtgsLog},
        xgts_zhname=#{xgtsZhname},
        xgts_enname=#{xgtsEnname},
        xgts_splname=#{xgtsSplname},
        xgts_createdate=#{xgtsCreatedate},
        xgts_zczb=#{xgtsZczb,javaType=java.math.BigDecimal},
        xgts_city=#{xgtsCity},
        xgts_gsz=#{xgtsGsz},
        xgts_zjl=#{xgtsZjl},
        xgts_frdb=#{xgtsFrdb},
        xgts_dgd=#{xgtsDgd},
        xgts_ss=#{xgtsSs},
        xgts_gsxz=#{xgtsGsxz},
        xgts_zcglgm=#{xgtsZcglgm},
        xgts_gsjj=#{xgtsGsjj},
        xgts_status=#{xgtsStatus},
        xgts_tjw=#{xgtsTjw},
        xgts_tjno=#{xgtsTjno},
        xgts_pjsyl=#{xgtsPjsyl},
        xgts_cpdfbl=#{xgtsCpdfbl}             
         where xtgs_id=#{xtgsId}
    </update>
    
    <delete id="deleteProductXtgs" parameterType="Long">
        delete from tjs_product_xtgs where xtgs_id=#{xtgsId}
    </delete>
    
    
     <delete id="deleteBatchProductXtgs" parameterType="Long">
        delete from tjs_product_xtgs where xtgs_id in       
        <foreach item="idItem" collection="array" open="(" separator="," close=")">
		  #{idItem}
		</foreach>
    </delete>
    
    <select id="findByProductXtgsId" parameterType="Long" resultType="com.tjs.admin.xintuo.model.ProductXtgs">
        select 
         <include refid="Base_select_Column_List" />    
        from  tjs_product_xtgs  where xtgs_id=#{xtgsId}
    </select>
    
    
     <select id="selectProductXtgsIndex" resultType="com.tjs.admin.xintuo.model.ProductXtgs">
        select         
          <include refid="Base_select_Column_List" />           
        from  tjs_product_xtgs where 1=1
        AND xgts_tjw='10'                            
        LIMIT 0 ,4              
    </select>
    
</mapper>