/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"Hiragino Sans GB","Hiragino Sans GB W3","宋体";
}

body {
	background: #fff;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

fieldset{
  border: 1px solid #ccc;
  padding:0 30px 20px;
}
legend{
  padding: 0 5px;
}
/* line 8, ../sass/common.scss */
.za-inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 12, ../sass/common.scss */
.za-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}

/* line 16, ../sass/common.scss */
a {
  text-decoration: none;
}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
/* line 21, ../sass/common.scss */
.za-b-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 25, ../sass/common.scss */
.za-b-radius-top-left {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

/* line 30, ../sass/common.scss */
.za-b-radius-top-right {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 34, ../sass/common.scss */
.za-b-radius-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 38, ../sass/common.scss */
.za-b-radius-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 44, ../sass/common.scss */
.za-padding-l-r {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 49, ../sass/common.scss */
.za-padding-t-b {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 55, ../sass/common.scss */
.za-padding-left {
  padding-left: 15px;
}

/* line 59, ../sass/common.scss */
.za-padding-right {
  padding-right: 15px;
}

/* line 63, ../sass/common.scss */
.za-padding-top {
  padding-top: 15px;
}

/* line 67, ../sass/common.scss */
.za-padding-bottom {
  padding-bottom: 15px;
}

/* line 71, ../sass/common.scss */
.za-no-padding {
  padding: 0;
}

/* line 77, ../sass/common.scss */
.za-margin-l-r {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 82, ../sass/common.scss */
.za-margin-t-b {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 88, ../sass/common.scss */
.za-margin-left {
  margin-left: 10px;
}

/* line 92, ../sass/common.scss */
.za-margin-right {
  margin-right: 10px;
}

/* line 96, ../sass/common.scss */
.za-margin-top {
  margin-top: 10px;
}

/* line 100, ../sass/common.scss */
.za-margin-bottom {
  margin-bottom: 10px;
}

/* line 104, ../sass/common.scss */
.za-margin-auto {
  margin: 0 auto;
}

/* line 108, ../sass/common.scss */
.za-no-margin {
  margin: 0;
}

/* line 117, ../sass/common.scss */
.za-border {
  border: 1px solid #e3e4e6;
}

/* line 121, ../sass/common.scss */
.za-border-left {
  border-left: 1px solid #e3e4e6;
}

/* line 125, ../sass/common.scss */
.za-border-right {
  border-right: 1px solid #e3e4e6;
}

/* line 129, ../sass/common.scss */
.za-border-top {
  border-top: 1px solid #e3e4e6;
}

/* line 133, ../sass/common.scss */
.za-border-bottom {
  border-bottom: 1px solid #e3e4e6;
}

/* line 137, ../sass/common.scss */
.za-border-l-r {
  border-left: 1px solid #e3e4e6;
  border-right: 1px solid #e3e4e6;
}

/* line 142, ../sass/common.scss */
.za-border-t-b {
  border-top: 1px solid #e3e4e6;
  border-bottom: 1px solid #e3e4e6;
}

/* line 147, ../sass/common.scss */
.za-no-border-l {
  border-left-style: none;
}

/* line 151, ../sass/common.scss */
.za-no-border-r {
  border-right-style: none;
}

/* line 155, ../sass/common.scss */
.za-no-border-t {
  border-top-style: none;
}

/* line 159, ../sass/common.scss */
.za-no-border-b {
  border-bottom-style: none;
}

/* line 167, ../sass/common.scss */
.za-fz12 {
  font-size: 12px;
}

/* line 171, ../sass/common.scss */
.za-fz13 {
  font-size: 13px;
}

/* line 175, ../sass/common.scss */
.za-fz14 {
  font-size: 14px;
}

/* line 179, ../sass/common.scss */
.za-fz15 {
  font-size: 15px;
}

/* line 183, ../sass/common.scss */
.za-fz16 {
  font-size: 16px;
}

/* line 187, ../sass/common.scss */
.za-fz17 {
  font-size: 17px;
}

/* line 191, ../sass/common.scss */
.za-fz18 {
  font-size: 18px;
}

/* line 195, ../sass/common.scss */
.za-fz19 {
  font-size: 19px;
}

/* line 199, ../sass/common.scss */
.za-fz20 {
  font-size: 20px;
}

/* line 203, ../sass/common.scss */
.za-fz21 {
  font-size: 21px;
}

/* line 207, ../sass/common.scss */
.za-fz22 {
  font-size: 22px;
}
.za-fz24 {
  font-size: 24px;
}
.za-fz26 {
  font-size: 26px;
}
.za-fz28 {
  font-size: 28px;
}
.za-fz30 {
  font-size: 30px;
}
.za-fz32 {
  font-size: 32px;
}
.za-fz40 {
  font-size: 40px;
}
/* line 212, ../sass/common.scss */
.za-fz-large {
  font-size: 32px;
}

/* line 216, ../sass/common.scss */
.za-fz-xx-large {
  font-size: 40px;
}

/* line 220, ../sass/common.scss */
.za-p-fixed {
  position: fixed;
}

/* line 224, ../sass/common.scss */
.za-f-r {
  float: right;
}

/* line 227, ../sass/common.scss */
.za-f-l {
  float: left;
}

/* line 232, ../sass/common.scss */
.za-col-white {
  color: #ffffff;
}

/* line 236, ../sass/common.scss */
.za-bg-green {
  background-color: #40c16b;
  color: #ffffff;
}

/* line 241, ../sass/common.scss */
.za-bg-primary {
  background-color: #fa4c1a;
  color: #ffffff;
}

/* line 246, ../sass/common.scss */
.hidden {
  display: none;
}

/* line 251, ../sass/common.scss */
.za-pull-right {
  float: right;
}

/* line 255, ../sass/common.scss */
.za-text-align-r {
  text-align: right;
}

/* line 259, ../sass/common.scss */
.za-clearfix:after, .clearfix:after {
  overflow: hidden;
  *zoom: 1;
  content: "";
  clear: both;
  display: block;
  height: 0;
}

/* line 272, ../sass/common.scss */
input, textarea {
  border-style: none;
  padding: 0;
  margin: 0;
  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;
}



/*
 * @description: 通用配置
 * @author: 马东
 * @update: 马东 (2015-02-06 14:30)
 */
 /* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-fs12{font-size:12px;}
.f-fs14{font-size:14px;}
.f-fs16{font-size:16px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs22{font-size:22px;}
.f-fs24{font-size:24px;}
.f-fs26{font-size:26px;}
.f-fs28{font-size:28px;}
.f-fs30{font-size:30px;}
.f-fs32{font-size:32px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-vat{vertical-align:top;}
.f-vam{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-csp{cursor:pointer;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;} 

/* 皮肤 */
.s-bgc-write{background-color: #fff;}
.s-bgc-gray{background-color: #f9f9f9;}
.s-bgc-gy-f2{background-color: #f2f2f2;}
.s-bgc-gy-fdf5{background-color: #fffdf5;}
.s-bgc-green{background-color: #40c16b;}
.s-bgc-gn-3f{background-color: #3fc5a3;}

.s-bdc-gray{border-style:solid; border-width: 1px; border-color: #e6e6e6;}
.s-bdc-green{border-style:solid; border-width: 1px; border-color: #40c16b;}
.s-bdc-pink {background-color: #fff4e8;}
.s-fc-w{color: #fff;}
.s-fc-gray-31{color: #313131;}
.s-fc-tc{color: #bbb;}
.s-fc-tp{color: #5e5e5e;}
.s-fc-green{color: #40c16b;}
.s-fc-xm{color: #ff6f3c;}
.s-fc-red-f9{color: #f96a6a;}
.s-fc-blue{color: #4a99e4;}

.s-lk{ color: #40c16b; }
.s-lk:hover{ color: #40c16b; text-decoration:underline;}
.s-lku{ color: #40c16b; text-decoration:underline; }
.s-lku:hover{ color:#20c16b; }
.s-lk-tp{ color:#5e5e5e; }
.s-lk-tp:hover{ text-decoration:underline; }
.s-lk-none:hover{ text-decoration: none;}


/* 通用间距布局 */
.g-mar-auto{margin:0 auto;}
.g-pad-lr2{padding-left: 2px; padding-right: 2px;}
.g-pad-l25{padding-left: 25px;}
.g-pad-t25{padding-top: 25px;}
.g-mar-t5{margin-top: 5px;}
.g-mar-t15{margin-top: 15px;}
.g-mar-t25{margin-top: 25px;}
.g-mar-t30{margin-top: 30px;}
.g-mar-t60{margin-top: 60px;}
.g-mar-tp15{margin-top: 15px;margin-bottom: 15px;}
.g-mar-l10{margin-left: 10px;}
.g-mar-l15{margin-left: 15px;}
.g-mar-l20{margin-left: 20px;}
.g-mar-l40{margin-left: 40px;}
.g-mar-lr5{margin-left: 5px; margin-right: 5px;}
.g-mar-r10{margin-right: 10px;}
.g-mar-r15{margin-right: 15px;}
.g-wid20p{width: 20%;}
.g-wid30p{width: 30%;}
.g-wid15{width: 15px;}
.g-wid80{width: 80px;}
.g-wid100{width: 100px;}
.g-wid120{width: 120px;}
.g-wid140{width: 140px;}
.g-wid160{width: 160px;}
.g-wid180{width: 180px;}
.g-wid200{width: 200px;}
.g-wid220{width: 220px;}
.g-wid240{width: 240px;}
.g-wid910{width: 960px;}
.g-wid400{width: 400px;}
.g-wid650{width: 650px;}


.g-doc-w{
  width: 1200px;
}

.u-btn{
  background: none;

    display: inline-block;
    min-width: 90px;
    height: 43px;
    padding: 0 30px;
    line-height: 43px;
    border-radius: 5px;
    cursor: pointer;
  background-color: #40c16b;
    border: 2px solid #40c16b;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.u-btn.small{
  padding: 0 10px;
    min-width: 60px;
  line-height: 28px;
  height: 28px;
}
.u-btn.org{
  background-color: #ff6f3c;
  border: 2px solid #ff6f3c;
}
.u-btn.grey{
  background-color: #c2c2c2;
    border: 2px solid #c2c2c2;
}
.u-btn.write{
  color: #40c16b;
  background-color: #fff;
}
.u-btn.write:hover{
  background-color: #f9f9f9;
}
.u-btn.bdc-org{
  color: #ff9127;
  border-color:#ff9127;
  background-color: #fff;
}
.u-btn.bdc-green{
  color: #40c6a4;
  border-color:#40c6a4;
  background-color: #fff;
}


/* 图标基本样式 */
.u-icon{
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  text-indent: -9999px;
}
.u-icon.s22{
  width: 22px;
  height: 22px;
}
.u-icon.s24{
  width: 24px;
  height: 24px;
}
/* 水平线 */
.u-hr{
	border : none;
	border-top-color: #ddd;
	border-top-width: 1px;
}
.u-hr.solid{
	border-top-style: solid;
}
.u-hr.dashed{
	border-top-style: dashed;
}

/** 头部 **/
.m-head-bdc{
  border-bottom: 3px solid #40c16b;
}
.m-head{
  position: relative;
}
/*
.m-head > ul > li{
  float: left;
}
*/
.m-head > ul > li .logo {
  background-image: url("../images/index/logo.png")/*tpa=https://www.zhongan.com/resource/images/index/logo.png*/;
  background-repeat: no-repeat;
  float: left;
  width: 240px;
  height: 50px;
  margin-top: 17px;
}
.m-head > ul > li .logo.mt27{
	margin-top:17px;
}
/* line 100, ../sass/za-common.scss */
.m-head > ul > li .slog {
  background-image: url("../images/index/logo_slog.png")/*tpa=https://www.zhongan.com/resource/images/index/logo_slog.png*/;
  background-repeat: no-repeat;
  float: left;
  margin-top: 10px;
  width: 150px;
  height: 50px;
}
.m-head > ul > li .slog-xc {
}
.m-head > ul > li .logo-td{
  float: left;
  padding-left:20px;
  border-left:1px dotted #ccc;
  width: 220px;
  height: 50px;
  color: #EEE;
  font-size: 20px;
  line-height: 24px;
  margin-top:5px;
}


.m-head-acc{
}
.m-head-other{
  display: inline-block;
  position: absolute;
    right: 0;
    top: 5px;
    vertical-align: middle;
    z-index: 10;
}
.m-head-other:after {
  overflow: hidden;
  *zoom: 1;
  content: "";
  clear: both;
  display: block;
  height: 0;
}
.m-head-other > div{
  float:left;
    vertical-align: middle;
}
.m-head-other > .m-hd-log,.m-head-other > .m-hd-line,.m-head-other > .m-hd-ser{
  margin-top:10px;
}
.m-hd-line{
  height: 20px;
  width: 1px;
  font-size: 1px;
  background-color: #D0D4D8;
}

.m-hd-acc{
  position: relative;
}
.m-hdacc{
    color: #3E4654;
    display: block;
    padding: 10px 10px 10px 15px;
}
.m-hd-acc > ul{
  display: none;
  width: 100%;
  position: absolute;
}

.m-hd-acc:hover > ul {
	display: block;
	background-color: #fff;
	border-bottom: 1px solid #ecf0f4;
}

.m-hd-acc:hover > .m-hdacc {
	padding: 9px 9px 9px 14px;
	display: block;
	border-left: 1px solid #ecf0f4;
	border-right: 1px solid #ecf0f4;
	border-top: 1px solid #ecf0f4;
	border-bottom: 1px dashed #f0f0f0;
	border-radius: 5px 5px 0 0;
}
.m-hd-acc li > a{
  border-left: 1px solid #ecf0f4;
    border-right: 1px solid #ecf0f4;
    color: #83969f;
    display: block;
    padding: 15px 20px 15px 15px;
}
.m-hd-acc li > a:hover{
  background-color: #40C16B;
  color: #fff;
}
.m-hd-acc li > a > i,.m-hdacc > i{
    display: inline-block;
    width: 18px;
    height: 16px;
    margin-right: 8px;

  background-position: center center;
    background-repeat: no-repeat;

    vertical-align: middle;
}
.m-hd-acc a > i.acc{
  background-image: url("../images/index/acc_acc_g.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_acc_g.png*/;
}
.m-hd-acc a > i.down{
  background-image: url("../images/index/icon_updown.png")/*tpa=https://www.zhongan.com/resource/images/index/icon_updown.png*/;
  background-position: left center;
  margin-right: 0;
  margin-left: 10px;
}
.m-hd-acc li > a > i.claim{
  background-image: url("../images/index/acc_claim_g.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_claim_g.png*/;
}
.m-hd-acc li > a:hover > i.claim{
  background-image: url("../images/index/acc_claim_w.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_claim_w.png*/;
}
.m-hd-acc li > a > i.info{
  background-image: url("../images/index/acc_info_g.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_info_g.png*/;
}
.m-hd-acc li > a:hover > i.info{
  background-image: url("../images/index/acc_info_w.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_info_w.png*/;
}
.m-hd-acc li > a > i.policy{
  background-image: url("../images/index/acc_policy_g.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_policy_g.png*/;
}
.m-hd-acc li > a:hover > i.policy{
  background-image: url("../images/index/acc_policy_w.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_policy_w.png*/;
}
.m-hd-acc li > a > i.wait{
  background-image: url("../images/index/acc_wait_g.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_wait_g.png*/;
}
.m-hd-acc li > a:hover > i.wait{
  background-image: url("../images/index/acc_wait_w.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_wait_w.png*/;
}
.m-hd-acc li > a > i.enter{
  background-image: url("../images/index/acc_enter_g.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_enter_g.png*/;
}
.m-hd-acc li > a:hover > i.enter{
  background-image: url("../images/index/acc_enter_w.png")/*tpa=https://www.zhongan.com/resource/images/index/acc_enter_w.png*/;
}
/** 导航工具栏统一 **/
.m-nav-bg{
  background-color: #f7f9fb;
}
.m-nav{
  height: 48px;
  font-size: 18px;
}
/* 产品分类 */
.m-category{
  width: 264px;
  background-color: #40C16B;
  float: left;

  position: relative;
}
.m-category > a{
  display: inline-block;
  width: 244px;
  color: #FFF;
  line-height: 48px;
  padding-left:20px;
}
.m-category-list{
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: none;
  z-index: 9;
}
.m-category:hover .m-category-list{
  display: block;
}

.m-category-list > li{
  padding: 13px 0 10px 44px;
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 13px 25px;
}
.m-cate-hd{
  color: #40C16B;
  font-size: 18px;
}
.m-category-list > li.b1{
  background-image: url("../images/index/side_traffic.png")/*tpa=https://www.zhongan.com/resource/images/index/side_traffic.png*/;
}
.m-category-list > li.b2{
  background-image: url("../images/index/side_tour.png")/*tpa=https://www.zhongan.com/resource/images/index/side_tour.png*/;
}
.m-category-list > li.b3{
  background-image: url("../images/index/side_healthy.png")/*tpa=https://www.zhongan.com/resource/images/index/side_healthy.png*/;
}
.m-category-list > li.b4{
  background-image: url("../images/index/side_group.png")/*tpa=https://www.zhongan.com/resource/images/index/side_group.png*/;
}
.m-category-list > li.b5{
  background-image: url("../images/index/sild_feature.png")/*tpa=https://www.zhongan.com/resource/images/index/sild_feature.png*/;
}

/* 产品子分类 */
.m-cate-sublist{
  margin-top: 11px;
}
.m-cate-sublist > li{
  float: left;
  font-size: 15px;
}
.m-cate-sublist > li > a{
  color: #3E4654;
  margin-right: 13px;
  font-size: 14px;
}

.m-cate-sublist > li > a:hover{
  color: #40C16B;
  font-size: 15px;
}

/* 网站导航 */
.m-nav-list{
  float: left;
  height: 100%;
}
.m-nav-list > li{
  float: left;
  height: 100%;
}
.m-nav-list > li > a{
  display: inline-block;
  padding: 15px 28px;
  color: #83969F;
  border-left: 1px solid #f7f9fb;
  border-right: 1px solid #f7f9fb;
}


/* 网站子导航 */
.m-nav-list > li >.m-subnav{
  display: none;
  position: absolute;
  font-size: 14px;
  background-color: #FFF;

  border-bottom:  1px solid #ecf0f4;

  z-index: 9;
}
.m-nav-list > li >.m-subnav > li > a{
  display: block;
  padding: 15px 20px 15px 15px;
  color: #83969F;
  border-left: 1px solid #ecf0f4;
  border-right: 1px solid #ecf0f4;
}
.m-nav-list > li >.m-subnav.pad40 > li > a{
  padding: 15px 30px 15px 16px;
}
.m-nav-list > li >.m-subnav > li > a:hover{
  background-color: #40C16B;
  color: #FFF;
}
.m-nav-list > li:hover > a{
  background-color: #FFF;
  border-left: 1px solid #ecf0f4;
  border-right: 1px solid #ecf0f4;
}
.m-nav-list > li:hover > .m-subnav{
  display: block;
}

.m-nav-list > li > a.active{
  background-color: #3E4654;
  border-left: 1px solid #3E4654;
  border-right: 1px solid #3E4654;
  color: #FFF;
}


.m-subnav  li > a > i{
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center center;
}
.m-subnav  li > a > i.young{
  background-image: url("../images/index/pro_young_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_young_g.png*/;
}
.m-subnav  li > a:hover > i.young{
  background-image: url("../images/index/pro_young_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_young_w.png*/;
}
.m-subnav  li > a > i.woman{
  background-image: url("../images/index/pro_woman_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_woman_g.png*/;
}
.m-subnav  li > a:hover > i.woman{
  background-image: url("../images/index/pro_woman_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_woman_w.png*/;
}
.m-subnav  li > a > i.man{
  background-image: url("../images/index/pro_man_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_man_g.png*/;
}
.m-subnav  li > a:hover > i.man{
  background-image: url("../images/index/pro_man_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_man_w.png*/;
}
.m-subnav  li > a > i.place{
  background-image: url("../images/index/pro_place_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_place_g.png*/;
}
.m-subnav  li > a:hover > i.place{
  background-image: url("../images/index/pro_place_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_place_w.png*/;
}
.m-subnav  li > a > i.traffic{
  background-image: url("../images/index/pro_traffic_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_traffic_g.png*/;
}
.m-subnav  li > a:hover > i.traffic{
  background-image: url("../images/index/pro_traffic_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_traffic_w.png*/;
}
.m-subnav  li > a > i.plane{
  background-image: url("../images/index/pro_plane_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_plane_g.png*/;
}
.m-subnav  li > a:hover > i.plane{
  background-image: url("../images/index/pro_plane_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_plane_w.png*/;
}
.m-subnav  li > a > i.pal{
  background-image: url("../images/index/pro_pal_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_pal_g.png*/;
}
.m-subnav  li > a:hover > i.pal{
  background-image: url("../images/index/pro_pal_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_pal_w.png*/;
}
.m-subnav  li > a > i.family{
  background-image: url("../images/index/pro_family_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_family_g.png*/;
}
.m-subnav  li > a:hover > i.family{
  background-image: url("../images/index/pro_family_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_family_w.png*/;
}


.m-subnav  li > a > i.down{
  background-image: url("../images/index/ser_down_g.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_down_g.png*/;
}
.m-subnav  li > a:hover > i.down{
  background-image: url("../images/index/ser_down_w.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_down_w.png*/;
}
.m-subnav  li > a > i.putclaim{
  background-image: url("../images/index/ser_putclaim_g.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_putclaim_g.png*/;
}
.m-subnav  li > a:hover > i.putclaim{
  background-image: url("../images/index/ser_putclaim_w.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_putclaim_w.png*/;
}
.m-subnav  li > a > i.sea{
  background-image: url("../images/index/ser_sea_g.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_sea_g.png*/;
}
.m-subnav  li > a:hover > i.sea{
  background-image: url("../images/index/ser_sea_w.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_sea_w.png*/;
}
.m-subnav  li > a > i.verify{
  background-image: url("../images/index/ser_verify_g.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_verify_g.png*/;
}
.m-subnav  li > a:hover > i.verify{
  background-image: url("../images/index/ser_verify_w.png")/*tpa=https://www.zhongan.com/resource/images/index/ser_verify_w.png*/;
}

.m-subnav  li > a > i.pal{
  background-image: url("../images/index/pro_pal_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_pal_g.png*/;
}
.m-subnav  li > a:hover > i.pal{
  background-image: url("../images/index/pro_pal_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_pal_w.png*/;
}
.m-subnav  li > a > i.family{
  background-image: url("../images/index/pro_family_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_family_g.png*/;
}
.m-subnav  li > a:hover > i.family{
  background-image: url("../images/index/pro_family_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_family_w.png*/;
}
.m-subnav  li > a > i.delay{
  background-image: url("../images/index/pro_delay_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_delay_g.png*/;
}
.m-subnav  li > a:hover > i.delay{
  background-image: url("../images/index/pro_delay_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_delay_w.png*/;
}
.m-subnav  li > a > i.pay{
  background-image: url("../images/index/pro_pay_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_pay_g.png*/;
}

.m-subnav  li > a:hover > i.pay {
	background-image: url("../images/index/pro_pay_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_pay_w.png*/;
}


.m-subnav  li > a > i.uav {
	background-image: url("../images/index/pro_uav_g.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_uav_g.png*/;
}

.m-subnav  li > a:hover > i.uav {
	background-image: url("../images/index/pro_uav_w.png")/*tpa=https://www.zhongan.com/resource/images/index/pro_uav_w.png*/;
}

.m-log{
  float: right;
  font-size: 14px;
  margin-right: 20px;
  color: #83969F;
  padding: 17px 10px;
}
.m-log a{
  color: #83969F;
}
.m-log a:hover{
  color: #40C16B;
  text-decoration: underline;
}



.m-logo-title {
  float: left;
  margin-top:15px;
  padding-left:20px;
  padding-top:5px;
  border-left:1px dotted #ccc;
  width: 220px;
  height: 60px;
  color:#EEE;
  font-size:22px;
  line-height:28px;
}

/* 首页- 底部 */
.s-footer-bg{
  margin-top: 40px;
  background-color: #f3f4f5;
}
.s-footer-bgw{
  background-color: #fff;
  margin-bottom: -40px;
}
.m-footer{
  padding: 50px 30px;

  color: #3E4654;
  font-size: 16px;
}
.m-footer dl{
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}
.m-footer dl.nomar{
  margin-right: 0;
}
.m-footer dl > dt{
  font-weight: bold;
  padding-bottom: 30px;
}
.m-footer dl.ser > dd{
  margin-bottom: 15px;
  padding-left: 30px;
  background-repeat: no-repeat;
}
.m-footer dl.ser > dd.tel{
  cursor: pointer;
  background-image: url("../images/index/footer_tel.png")/*tpa=https://www.zhongan.com/resource/images/index/footer_tel.png*/;
  background-position: left center;
}
.m-footer dl.ser > dd.tel:hover{
  background-image: url("../images/index/footer_tel_h.png")/*tpa=https://www.zhongan.com/resource/images/index/footer_tel_h.png*/;
  color: #40C16B;
}
.m-footer dl.ser > dd.mail{
  cursor: pointer;
  background-image: url("../images/index/footer_mail.png")/*tpa=https://www.zhongan.com/resource/images/index/footer_mail.png*/;
  background-position: left center;
}
.m-footer dl.ser > dd.mail:hover{
  background-image: url("../images/index/footer_mail_h.png")/*tpa=https://www.zhongan.com/resource/images/index/footer_mail_h.png*/;

}
.m-footer dl.ser > dd.mail a{
  color: #3E4654;
}
.m-footer dl.ser > dd.mail:hover a{ 
  color: #40C16B;
}
.m-footer dl.link > dd{
  margin-bottom: 20px;
}
.m-footer dl.link > dd a{
  margin-right: 60px;
  color: #3E4654;
}
.m-footer dl.link > dd a:hover{
  color: #40C16B;
}
.m-footer dl > dd.mar25{
  margin-bottom: 25px;
}

.m-footer dl.qr > dd > span{
  display: inline-block;
  vertical-align: top;

  width: 111px;
  height: 112px;
  background-repeat: no-repeat;
}
.m-qr-wechat{
  background-image: url("../images/index/qr_wechat.png")/*tpa=https://www.zhongan.com/resource/images/index/qr_wechat.png*/;
}
.m-qr-wechat:hover{
  background-image: url("../images/index/qr_wechat_h.png")/*tpa=https://www.zhongan.com/resource/images/index/qr_wechat_h.png*/;
}
.m-qr-alipay{
  background-image: url("../images/index/qr_alipay.png")/*tpa=https://www.zhongan.com/resource/images/index/qr_alipay.png*/;
}
.m-qr-alipay:hover{
  background-image: url("../images/index/qr_alipay_h.png")/*tpa=https://www.zhongan.com/resource/images/index/qr_alipay_h.png*/;
}


.m-copyright{
  padding:20px 0 35px;
  color: #83969F;
}
.m-copyright > a{
  color: #83969F;
}
.m-copyright > a:hover{
  text-decoration: underline;
}
.m-copyright > a.busin{
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/index/cright_busin.png")/*tpa=https://www.zhongan.com/resource/images/index/cright_busin.png*/;
  background-repeat: no-repeat;
  height: 39px;
  width: 94px;
}
.za-m25-40 {
  margin:25px 40px !important;
}
.za-mtb30 {
  margin:30px 0 !important;
}
.za-mt40 {
  margin-top:40px !important;
}
.za-mt20 {
  margin-top:20px !important;
}
.za-mt15 {
  margin-top:15px !important;
}
.za-mb30 {
  margin-bottom:30px !important;
}
.za-col-green {
  color: #40c16b;
}
.bd-b-dot {
  border-bottom:1px dotted #ddd;  
  margin:15px 0 10px;
}
/**************************/
/*** end 通用头部和底部 ***/
/**************************/



/*** 团险通用热点样式 ***/

.m-hot-ind{
	position: fixed;
	right: 1%;
	z-index: 9999; 
	width: 40px;
	bottom: 0;
}
.m-hot-ind li{
	margin-bottom: 10px;
}
.m-hot-ind li > a{
	display: block;
	width: 38px;
	height: 38px;
	background-image: url("../images/enterprise/ent_snav_icon.png")/*tpa=https://www.zhongan.com/resource/images/enterprise/ent_snav_icon.png*/;
	background-repeat: no-repeat;
}
.m-hot-ind .ind1{
	background-position: 0 0;
}
.m-hot-ind .ind1:hover{
	background-position: 0 -184px;
}
.m-hot-ind .ind2{
	background-position: 0 -46px;
}
.m-hot-ind .ind2:hover{
	background-position: 0 -230px;
}
.m-hot-ind .ind3{
	background-position: 0 -92px;
}
.m-hot-ind .ind3:hover{
	background-position: 0 -276px;
}
.m-hot-ind .ind4{
	float:right;
	width:40px;
	height:40px;
	background-image: url("../images/enterprise/ent_hottop.png")/*tpa=https://www.zhongan.com/resource/images/enterprise/ent_hottop.png*/;
	background-position: 0 0;
	background-repeat: no-repeat;    
	transition: all 0.3s ease-in-out 0s;
}
.m-hot-ind .ind4:hover{
	background-position: 0 -54px;
}
.m-hot-ind .ind5{
	width:40px;
	height:40px;
	float:right;
	background-image: url("../images/enterprise/ent_qqin_normal.png")/*tpa=https://www.zhongan.com/resource/images/enterprise/ent_qqin_normal.png*/;
	background-repeat: no-repeat;
}

