* { margin: 0; padding:0;}
html{ width:100%; height:100%;background:#ffffff;}
body{ width:100%; height:100%;font-family: "Microsoft YaHei" !important;font-size: 14px;}
ul { list-style: none; }
img { border-style: none; }
a{
	color:#2388CC;
	text-decoration:none;
}
a:hover{
	color:#ff6600;
	text-decoration:none;
}
input,select,button{font:14px Verdana,Arial,Tahoma;	vertical-align:middle;}
iframe{margin:0px;padding:0px;}
frame{margin:0px;padding:0px;}
table{margin:0px;padding:0px;border:0px;font-size:14px;}
form {margin:0;padding:0px;display:inline;}
span{margin: 0; padding:0;}
.clearfloat{clear:both;height:0;font-size: 1px;line-height: 0px;}


.home_all{margin:0px auto;padding:0px;min-width:1108px;width: expression(document.body.clientWidth < 1108? "1108px": "100%" );width: auto;height:100%;font-size:14px;color:#000; background-color:#FFFFFF}

/*all top menu css*/
.tjs_1108px{width:1108px;}
.tjs_600px{width:600px;}
.tjs_toplogo{ margin-top:4px;float:left; height:36px;line-height:36px;width:35px;border:none;}
.center{margin:0px auto;}
.header_top{
	height:40px!important;
	height:40px;
	line-height:40px;
	background-color:#F2F3F5;
	border-bottom: solid 1px #CCC;
	color:#666;
	overflow:hidden;

	}
.header_menu	{
	height:94px!important;
	height:94px;
	line-height:94px;
	background-color:#FFFFFF;
	overflow:hidden;


	}
	
.logo_wrap {float:left; width:338px;height:94px; line-height:94px;overflow: hidden;}
.top_wrap_menu{margin-left:400px;height:94px;width:auto;}
.top_wrap_menu ul{ width:100%;}
.top_wrap_menu ul li{float:left;width:115px; height:94px; line-height:94px; color:#333333; font-size:18px;text-align:center;}
.top_wrap_menu ul li a{float:left;width:115px; height:94px; line-height:94px; color:#333333; text-decoration:none;text-align:center;}
.top_wrap_menu ul li a:hover{float:left;width:115px; height:94px; line-height:94px; color:#0280CC; text-decoration:none;text-align:center;}
.top_focus_img{ width:100%; height:360px; background-color:#068FAB; text-align:center;}
.top_header_logindiv{width:250px; height:250px; padding:20px;  filter:alpha(opacity=100); border-radius:4px;position: absolute; right:120px; top:180px; z-index:200000;overflow:hidden;}
.top_login_title{ width:auto; height:72px; line-height:72px; font-size:22px; color:#FFFFFF; text-align:center; position: relative;}
.tjs_login_input{ height:28px; border:solid 1px #CCC; background-color:#FFF; color:#666; font-size:16px;}
.tjs_register_input{ height:38px; border:solid 1px #CCC; background-color:#FFF; color:#666; font-size:16px;}
.tjs_topinput_div{ width:auto; height:36px; margin-left:18px; color:#FFF; font-size:14px;}
.tjs_topinput_pw_div{width:auto; height:36px; margin-left:38px; margin-bottom:5px; color:#FFF; font-size:14px;}
.tjs_cellphone_div{width:auto; height:32px; margin-left:52px;color:#FFF; font-size:14px;}

.tjs_v_div_left{ float:left; width:148px; height:36px; line-height:36px; color:#FFF; font-size:14px;}
.tjs_v_div_right{ margin-left:148px;width: auto; height:36px; font-size:14px; padding-top:5px;}

.tjs_pw_div_left{ float:left; width:108px; height:36px; line-height:36px; color:#FFF; font-size:14px; text-align:right;margin-bottom:5px;}
.tjs_pw_div_right{ margin-left:108px;width: auto; height:36px; text-align:left; font-size:14px;margin-bottom:5px;}



a.tjs_registerurl{ color:#FFF; text-decoration:none;}
a.tjs_registerurl:hover{ color:#FFF; text-decoration: underline;}
a.tjs_registercode{ color:#1b66c7; text-decoration:none;}
a.tjs_registercode:hover{ color:#1b66c7; text-decoration: underline;}

a.tjs_pw_url{ color:#00aeff; text-decoration:none;}
a.tjs_pw_url:hover{ color:#00aeff; text-decoration: underline;}

.tjs_talkdiv{ margin:auto 0;width:100%; height:20px; line-height:20px; text-align:center;}
.tjs_btndiv{ margin-left:27px;width: auto; height:52px; line-height:52px; text-align:center;}
.tjs_pw_btndiv{ margin-right:40px;width: auto; height:48px; line-height:48px; text-align:right;}
.tjs_register_btn { width: 180px;  height: 44px; background-color: #F90;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}

.tjs_colorwhite{color:#FFF;}
.tjs_colorblue{color:#3498db;}
.tjs_colorgreen{color:#25b261;}
.tjs_colorshallowgreen{ color:#0bb954;}
.tjs_colororange{color:#FF6600;}
.tjs_colorcyan{color:#b59635;}
.tjs_shalloworange{ color:#ff8c00}

.tjs_alignleft{ text-align: left;}
.tjs_width180px{ width:180px;}
.tjs_width150px{ width:150px;}
.tjs_width90px{ width:85px;}
.tjs_width47px{ width:47px;}
.tjs_width350px{ width:350px;}
.tjs_width330px{ width:334px;}
.tjs_width239px{ width:239px;}
.tjs_width176px{ width:176px;}
.tjs_textblue{}
.tjs_textwhite{ color:#FFFFFF;}
.tjs_textgray{ color:#666666;}
.tjs_bg_gray{ background-color:#F5F5F5;}


.log_link {color: #F60;}
.header_top .time{
	float:left;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#666;
	}
.toplinks{float:right;height:40px;line-height:40px;text-align:right; margin-right:20px;}

.topservice{float:right; padding-left:24px;height:40px;line-height:40px;text-align:right;background-image: url(../../img/ui/tjs_topservice.png);background-repeat: no-repeat;	background-position: left center;}

.header_top .toplinks span{
	margin-left:15px;
	}
.header_top .toplinks span a{
	margin:0 2px;
	color:#FFF;
	text-decoration:none;
	}
.header_top .toplinks span a:hover{
	margin:0 2px;
	color:#FFF;
	text-decoration:underline;
	}
.header .search {
	overflow:hidden;
}
.header a{
	color:#FFFFFF;
}
.header a:hover{
	color:#E4E4E4;
	text-decoration:none;
}
.header .top{
	clear:both;
	overflow:hidden;
	margin-top:0px;
}

.tjs_content_div{
	height:330px!important;
	height:330px;
	background-color:#F5F5F5;
	overflow:hidden;
	}
	
.tjs_partner_div{
	height:180px!important;
	height:180px;
	background-color:#F5F5F5;
	}
	
.tjs_footer_div{
	width:100%;
	height:350px!important;
	height:350px;
	background-color:#333;
	overflow:hidden;
	}


.tjs_slogan_div{ width: 100%; height:72px; line-height:72px;font-size:24px; color:#333; text-align:center;}


.tjs_advantage_div ul{ width:auto;}
.tjs_advantage_div ul li{ float:left; width:300px; height:245px; margin-left:30px; margin-right:30px;text-align:center;}
.tjs_icodiv{ width:100%;height: auto; text-align:center; margin-top:30px;}
.tjs_ico_titlediv{ width:100%;height:45px; line-height:45px; text-align:center; font-size:24px;}
.tjs_ico_textdiv{ width:100%;height:20px; line-height:20px; text-align:center; font-size:14px;}


/*
content typle CSS

*/

.tjs_product_div{ width:100%;min-height:480px;height:auto !important;height:480px;}
.tjs_product_left{ float:left; width:334px; min-height:480px;height:auto !important;height:480px;position:  relative;}
.tjs_product_right{ margin-left:334px;width: auto;min-height:480px;height:auto !important;height:480px;border-bottom:solid 1px #ECECEC;}
.tjs_tag_div{
	width:33px;
	height:85px;
	line-height:18px;
	position: absolute;
	top:5px;
	right:12px; text-align:center;
	background-image: url(../../img/ui/Tag_bg.png);
	background-repeat: no-repeat;
	background-position: right top;
	color:#fff;
	font-size:14px;
}
.tjs_trust_topdiv{
	width:100%;
	height:100px;
	line-height:100px;
	font-size:30px;
	text-align:center;
	color:#FFF;
	background-image: url(../../img/ui/trust_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}

.tjs_private_topdiv{
	width:100%;
	height:100px;
	line-height:100px;
	font-size:30px;
	text-align:center;
	color:#FFF;
	background-image: url(../../img/ui/private_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}

.tjs_match_topdiv{
	width:100%;
	height:100px;
	line-height:100px;
	font-size:30px;
	text-align:center;
	color:#FFF;
	background-image: url(../../img/ui/match_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}

.tjs_foreign_topdiv{
	width:100%;
	height:100px;
	line-height:100px;
	font-size:30px;
	text-align:center;
	color:#FFF;
	background-image: url(../../img/ui/foreign_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}

.tjs_product_left_cdiv{ margin-left:24px;
	width: auto;
	min-height:380px;height:auto !important;height:380px;
	text-align:center;
	background-color:#F9F9F9;
	 border-bottom:solid 1px #ECECEC;
	 border-left:solid 1px #ECECEC;
	 border-right:solid 1px #ECECEC;
	 overflow:hidden;

	
}
.tjs_product_left_icodiv{ margin-left:15px;
	width:90%;
	height:246px;
	background-image: url(../../img/ui/dash_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.tjs_left_earningsdiv{width:100%;height:68px;line-height:68px; text-align:center; color:#333; font-size:18px;}
.tjs_left_earningsdiv span{color:#df3932; font-size:32px;}
.tjs_product_textdiv{margin-left:20px; margin-right:20px; margin-top:10px; margin-bottom:20px;width: auto;text-align:left; color:#666; font-size:14px;}

.tjs_right_titlediv{ margin-left:40px;width: auto; height:54px; line-height:54px; font-size:28px;}
.tjs_right_titlediv span{font-size:14px;}
a.tjs_moreurl{  text-decoration:none; color:#0280cc;}
a.tjs_moreurl:hover{  text-decoration:none; color:#FF6600;}

.tjs_coloreddiv{ margin-left:20px;width:auto; height:3px; line-height:3px; font-size:0px; background-color:#999;}
.tjs_coloredorange{ width:120px; height:3px; line-height:3px; font-size:0px;background-color:#FF8C00;}

.tjs_right_typle{ width: auto;min-height:423px;height:auto !important;height:423px;border-right:solid 1px #ECECEC;}
.tjs_right_unit{ float:left;width: 257px;min-height:423px;height:auto !important;height:423px;}

.tjs_right_2border{border-right:solid 1px #ECECEC; }
.tjs_right_title{ height:46px;width:100%; text-align:center; color:#666; overflow:hidden;}
.tjs_right_title span{font-size:20px;}
.tjs_right_title tr{background:none !important;}
.tjs_right_privatetitle{
	margin-left:50px;
	height:128px;
	width:128px;
	border-radius: 50%;
	text-align:center;
	color:#666;
 overflow:hidden;
}


.tjs_rightmatch_title{ margin-left:20px; margin-right:20px;height:110px;width: auto; text-align:center; font-size:16px; color:#666;	background-image: url(../../img/ui/dash_bg.png);background-repeat: repeat-x;background-position: left bottom;}
.tjs_rightmatch_title span{font-size:28px; color:#0280cc;}
.tjs_rightmatch_content{ margin-left:15px; margin-right:15px;height:65px; line-height:65px;width: auto; text-align:center; font-size:16px; color:#666;	background-image: url(../../img/ui/dash_bg.png);background-repeat: repeat-x;background-position: left bottom;}

.tjs_rightforeign_title{ margin-left:20px; margin-right:20px;height:176px;width: auto; text-align:center; font-size:20px; color:#666;	background-image: url(../../img/ui/dash_bg.png);background-repeat: repeat-x;background-position: left bottom;}
.tjs_rightforeign_title span{font-size:20px; color:#666;}




.tjs_right_earningsdiv{height:80px; line-height:80px;width:100%; text-align:center; color:#ff6600; overflow:hidden; font-size:24px;}
.tjs_font36px{font-size:36px;}
.tjs_font30px{font-size:30px;}
.tjs_right_privateearningsdiv{height:36px; line-height:36px;width:100%; text-align:center; color:#ff6600; overflow:hidden; font-size:24px;}

.tjs_private_textbgdiv{height:28px; line-height:28px;width:100%; text-align:center; color:#666; font-size:16px;}
.tjs_private_textdiv{ margin-left:50px;height:28px; line-height:28px;width: auto; text-align: left; color:#666; font-size:14px;}
.tjs_right_textdiv{height:26px; line-height:26px;width:100%; text-align:center; color:#666; font-size:14px;}

.tjs_foreign_textdiv{ margin-top:8px;margin-left:50px;min-height:65px;height:auto !important;height:65px;line-height:28px;width: auto; text-align: left; color:#666; font-size:14px;}



.tjs_right_icodiv{ margin-left:15px;
	width:90%;
	height:246px;
	background-image: url(../../img/ui/dash_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}


.tjs_private_icodiv{ margin-left:15px;
	width:90%;
	height:278px;
	background-image: url(../../img/ui/dash_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.tjs_right_btndiv{width:100%; height:50px; line-height:50px; text-align:center;}

a.tjs_btn{ width: 172px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #0280cc;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}
a.tjs_btn:hover{ width: 172px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #FF6600;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}

a.tjs_ok_btn{ width: 152px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #FF6600;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}
a.tjs_ok_btn:hover{ width: 152px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #fe8315;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}

a.tjs_next_btn{ width: 180px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #FF6600;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}
a.tjs_next_btn:hover{ width: 180px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #fe8315;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}

a.tjs_registerbtn{ width: 350px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #0280cc;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}
a.tjs_registerbtn:hover{ width: 350px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #FF6600;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}

a.tjs_loginbtn{ width: 300px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #FF6600;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}
a.tjs_loginbtn:hover{ width: 300px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color:#fe8315;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}


a.tjs_foreignbtn{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px; background-color: #828080;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}
a.tjs_foreignbtn:hover{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px; background-color: #FF6600;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}

a.tjs_orderbtn{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px; background-color: #4FC321;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}
a.tjs_orderbtn:hover{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px; background-color: #FF6600;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}

a.take_btn{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px; background-image: url(../../img/ui/email_ico.png);	background-repeat: no-repeat;
background-position: left center;background-color: #939EA7;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}
a.take_btn:hover{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px;background-image: url(../../img/ui/email_ico.png);	background-repeat: no-repeat;background-position: left center; background-color: #FF6600;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}

a.phone_btn{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px; background-image: url(../../img/ui/phone_ico.png);	background-repeat: no-repeat;
background-position: left center;background-color: #939EA7;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}
a.phone_btn:hover{ width: 100px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 31px;background-image: url(../../img/ui/phone_ico.png);	background-repeat: no-repeat;background-position: left center; background-color: #FF6600;border-radius: 4px;line-height: 31px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}


a.tjs_condition_btn{min-width:44px;width:auto !important;width:44px;padding:0px 10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 23px;line-height: 23px;text-align:center;font-size: 14px;color:#5e5e5e; border:none;cursor:pointer;}
a.tjs_condition_btn:hover{ min-width:44px;width:auto !important;width:44px; padding:0px 10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 23px; background-color: #0280CC;border-radius: 4px;line-height: 23px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}
#tjs_condition_btn{ min-width:44px;width:auto !important;width:44px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 23px; background-color: #0280CC;border-radius: 4px;line-height: 23px;text-align:center;font-size: 14px;color: #FFF; border:none;cursor:pointer;}

a.tjs_countbtn{ margin-left:12px;width: 172px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-image: url(../../img/ui/countbtn_ico.png);background-repeat: no-repeat;background-position: left center;background-color: #69B458;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}
a.tjs_countbtn:hover{ width: 172px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 44px; background-color: #FF6600;border-radius: 4px;line-height: 44px;text-align:center;font-size: 16px;color: #FFF; border:none;cursor:pointer;}


a.tjs_close_btn{
	min-width:44px;
	width:auto !important;
	width:44px;
	padding:0px 17px 0px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 23px;
	line-height: 22px;
	text-align:center;
	font-size: 14px;
	color:#5e5e5e;
	border: solid 1px #E0E0E0;
	border-radius: 3px;
	cursor:pointer;
	background-image: url(../../img/ui/close_ico.png);
	background-repeat: no-repeat;
	background-position: right 0px;
}
a.tjs_close_btn:hover{ min-width:44px;width:auto !important;width:44px; padding:0px 17px 0px 10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 23px; border-radius: 3px;line-height: 22px;text-align:center;font-size: 14px;color:#FF6600; border: solid 1px #FF6600;cursor:pointer;background-image: url(../../img/ui/close_ico.png);
	background-repeat: no-repeat;
	background-position: right -17px;}


.tjs_partner_title{ margin-left:25px;width:auto; height:42px; line-height:42px; text-align:left; font-size:16px; color:#666;}
.tjs_partner_contentdiv{ margin-left:25px;height:160px;}
.tjs_partner_contentdiv ul{ width:auto;}
.tjs_partner_contentdiv ul li{ float:left; width:158px; height:54px;margin-right:50px; margin-bottom:20px;text-align:center; border:solid 1px #ECECEC;border-radius: 4px;}


.tjs_backgroundgray{ background-color:#FCFAFD;}
.tjs_backgroundblue{ background-color:#2898d6;}
.tjs_backgroundgray_b{ background-color:#D6D6D6;}
.tjs_2_border{border-right:solid 1px #5B5B5B;}
.tjs_border_2{border-right:solid 1px #cccccc;}
.tjs_all_border{border:solid 1px #E0E0E0; }


.tjs_footer_copyrightdiv{height:224px;width: auto; overflow:hidden;border-bottom:solid 1px #5B5B5B;}
.tjs_footer_copyrightdiv ul{ margin-top:30px; margin-left:25px;height:170px;width: auto;}
.tjs_footer_copyrightdiv ul li{margin-right:30px;float:left; width:240px; height:170px;text-align:left; font-size:20px; color:#CCC;}
.tjs_footer_copyrightdiv ul li a{line-height:30px;font-size:14px; color:#999999;text-decoration:none;}
.tjs_footer_copyrightdiv ul li a:hover{line-height:30px; font-size:14px; color:#7EBFEB;text-decoration:none;}
.tjs_footer_copyrightcontent{ margin-top:6px;min-height:100px;height:auto !important;height:100px;line-height:30px;text-align:center; color:#999; font-size:14px;width: auto;}
.tjs_footer_copyrightcontent a{line-height:30px;font-size:14px; color:#999999;text-decoration:none;}
.tjs_footer_copyrightcontent a:hover{line-height:30px; font-size:14px; color:#7EBFEB;text-decoration:none;}
a.tjs_footer_sns{
	width:62px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 62px;
	border:none;
	cursor:pointer;
	background: url("../../img/ui/tjs_sns.png") no-repeat scroll 0% 0% transparent;

}
a.tjs_footer_sns:hover{
	width:62px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 62px;
	border:none;
	cursor:pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../../img/ui/tjs_sns.png);
	background-repeat: no-repeat;
	background-position: 0px -63px;
}

a.tjs_footer_sina{
	width:62px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 62px;
	border:none;
	cursor:pointer;
	background: url("../../img/ui/tjs_sns.png") no-repeat scroll -63px 0px transparent;

}
a.tjs_footer_sina:hover{
	width:62px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 62px;
	border:none;
	cursor:pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../../img/ui/tjs_sns.png);
	background-repeat: no-repeat;
	background-position: -63px -63px;
}


a.tjs_footer_blog{
	width:62px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 62px;
	border:none;
	cursor:pointer;
	background: url("../../img/ui/tjs_sns.png") no-repeat scroll -126px 0px transparent;

}
a.tjs_footer_blog:hover{
	width:62px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 62px;
	border:none;
	cursor:pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../../img/ui/tjs_sns.png);
	background-repeat: no-repeat;
	background-position: -126px -63px;
}

a.tjs_footer_qq{
	width:120px;
	padding-top:5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 40px;

	cursor:pointer;
	background: url("../../img/ui/tjs_qq01_ico.png") no-repeat scroll 0px 0px transparent;

}
a.tjs_footer_qq:hover{
	width:120px;
	padding-top:5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 40px;

	cursor:pointer;
	background: url("../../img/ui/tjs_qq02_ico.png") no-repeat scroll 0px 0px transparent;

}

.tjs_service_ico{ float:left;
	width:40px;
	margin-right:12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 40px;
	border:none;
	cursor:pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../../img/ui/tjs_service_ico.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}


/* register CSS*/
.tjs_register_all_div{
	height:550px;

	}
/* register CSS*/
.tjs_login_all_div{
	height:560px;
	background-color:#09F;
 
	}
.tjs_register_div{ margin:auto 0px;height:100%px; width:100%;text-align:center; color:#666;width: auto;}

.tjs_schedulediv{width:100%; height:65px;border-bottom: solid 1px #E0E0E0;}
.tjs_schedulediv ul{ margin-left:5px; margin-top:5px;width: auto; height:60px; line-height:60px;}
.tjs_schedulediv ul li{width:306; height:60px; line-height:60px; float:left; text-align:center; font-size:16px;}

.tjs_reset_pwdiv{width:100%; height:65px;border-bottom: solid 1px #E0E0E0;}
.tjs_reset_pwdiv ul{ margin-left:5px; margin-top:5px;width: auto; height:60px; line-height:60px;}
.tjs_reset_pwdiv ul li{width:200; height:60px; line-height:60px; float:left; text-align:center; font-size:16px;}

.tjs_bk_01{background-image: url(../../img/ui/sort_1.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.tjs_bk_02{background-image: url(../../img/ui/sort_2.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.tjs_bk_03{background-image: url(../../img/ui/sort_3.png);
	background-repeat: no-repeat;
	background-position: left center;
}


.tjs_register_left{ float:left; width:370px; height:56px; line-height:36px; color:#666;text-align:right; font-weight:bold;}
.tjs_register_right{ margin-left:378px; height:66px;text-align:left;width: auto;position: relative;}
.tjs_register_rror{display: inline-block;
	width:240px;
	height:24px;
	padding-left:24px;
	line-height:22px;
	text-align: left;     
	color:#df4223;
	position:absolute;
	top:8px;
	left:358px;
	background-image: url(../../img/ui/error_inputico.png);
	background-repeat: no-repeat;
	background-position: left center;
	 
}

.tjs_register_ok{display: inline-block;
	width:240px;
	height:24px;
	padding-left:24px;
	line-height:22px;
	text-align: left;     
	color:#df4223;
	position:absolute;
	top:8px;
	left:358px;
	background-image: url(../../img/ui/ok_ico.png);
	background-repeat: no-repeat;
	background-position: left center;
	 
}
.tjs_numberdiv{ height:56px; line-height:36px;color:#666;}
.tjs_register_agreement{ margin-left:346px; height:36px;text-align:left;width: auto;}
.tjs_register_prompt{ margin-left:356px; margin-top:-12px; height:42px;text-align:left;width: auto;}

.tjs_finish_left{ float:left; width:460px; height:160px;background-image: url(../../img/ui/succeed_ico.png);
	background-repeat: no-repeat;
	background-position: right center;}
.tjs_finish_right{ margin-left:480px; height:160px; line-height:36px;text-align:left;width: auto;}

.tjs_verificationcode{ margin-top:-2px;height:38px; width:100px; border:solid 1px #DDDDDD;display:inline-block;}



/*login css*/

.tjs_contentdiv{margin:0 auto;width:1018px; height:560px; line-height:560px; position: relative;}
.tjs_login_bgdiv{
	width:390px;
	height:390px;
top:85px; right:0px; position: absolute;
	background-image: url(../../img/ui/login_winbg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.tjs_contentbg{ margin:0 auto;
	width:100%;
	height:560px;
	line-height:560px;
	background-image: url(../../img/ui/login_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	 background-color:#3AA6EC;
	 text-align:center;
}
.tjs_login_title{ width:100%; height:98px; line-height:88px; font-size:24px; color:#333; text-align:center;}
.tjs_input_div{width:100%; height:70px;line-height:70px; text-align:center;}
.tjs_login_userhint{display: inline-block;
	width:240px;
	height:24px;
	padding-left:24px;
	line-height:22px;
	text-align: left;
	position:absolute;
	color:#df4223;
	top:144px;
	left:44px;
	background-image: url(../../img/ui/error_inputico.png);
	background-repeat: no-repeat;
	background-position: left center;
	 
}
.tjs_login_pwhint{display: inline-block;
	width:240px;
	height:24px;
	padding-left:24px;
	line-height:22px;
	text-align: left;
	position:absolute;
	color:#df4223;
	top:215px;
	left:44px;
	background-image: url(../../img/ui/error_inputico.png);
	background-repeat: no-repeat;
	background-position: left center;
	 
}
.tjs_input_text{
	width:300px;
	height:46px;
	line-height:46px;
	border-top:solid 1px #c2c2c2;
	border-left:solid 1px #d3d3d3;
	border-right:solid 1px #d3d3d3;
	border-bottom:solid 1px #e6e6e6;
	font-size:18px;
	color:#666;
	

}
.tjs_botton_div{width:100%; height:50px;line-height:50px; text-align:center;}
.tjs_input_botton{
	width:346px;
	height:50px;
	line-height:50px;
	background-color:#F60;
	border-radius: 4px;
	border: none;
	font-family: "Microsoft YaHei" !important;    
	color:#fff;
	font-size:24px;
	cursor: pointer;
}

.tjs_assist{width:100%; height:42px;}
.tjs_assist_left{width:90px; height:32px; line-height:32px; float:left; margin-left:47px;}
.tjs_assist_right{width:170px; height:32px; line-height:32px; float:right; margin-right:28px;}
.tjs_copyright_div{width:100%; height:76px;line-height:76px; color:#666; text-align: center;}


/*trust CSS*/
.tjs_trust_positiondiv{ width: 100%; height:40px; line-height:40px;font-size:14px; color:#666666; text-align:left; border-top:solid 1px #E1E1E1; border-bottom:solid 1px #E1E1E1; background-color:#EEEEEE;}
.tis_trust_all{margin:0px auto;padding:0px;min-width:1108px;width: expression(document.body.clientWidth < 1108? "1108px": "100%" );width: auto;height:100%;font-size:14px;color:#000; background-color:#F5F5F5}
.tis_pcs_all{margin:0px auto;padding:0px;min-width:1108px;width: expression(document.body.clientWidth < 1108? "1108px": "100%" );width: auto;height:100%;font-size:14px;color:#000; background-color:#FFF}


.tjs_recommend_title{width:auto; height:45px; line-height:45px; color:#0280cc; font-size:20px; text-align:left;}
.tjs_recommend_trusticobg{
	padding-left:42px;
	height:40px;
	background-image: url(../../img/ui/trust_praise.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.tjs_company_trustico{
	padding-left:42px;
	height:40px;
	background-image: url(../../img/ui/recommend_praise.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.tjs_companyico{
	padding-left:42px;
	height:40px;
	background-image: url(../../img/ui/trust_company.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.tjs_belongico{
	padding-left:42px;
	height:40px;
	background-image: url(../../img/ui/trust_belong.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.tjs_trust_coloreddiv{ width:auto; height:3px; line-height:3px; font-size:0px; background-color:#0280CC;}
.tjs_trust_typle{ width: auto;min-height:400px;height:auto !important;height:400px;border-right:solid 1px #ECECEC; border-left:solid 1px #ECECEC;border-bottom:solid 1px #ECECEC; background-color:#FFF;overflow:hidden;}
.tjs_trust_unit{ float:left;width: 276px;min-height:400px;height:auto !important;height:400px;}
.tjs_right_1pxdashed{background-image: url(../../img/ui/trust_dashed.png);	background-repeat: repeat-y;background-position: right top;}

.tjs_trust_product_left{ float:left; width:833px; min-height:480px;height:auto !important;height:480px;position:relative;}
.tjs_trust_more{ width:80px; height:64px; line-height:64px; text-align:center; top:0px; right:0px;position: absolute;}
.tjs_trust_driblet{min-height:400px;height:auto !important;height:400px; width:auto;}

.tjs_trust_product_right{ margin-left:850px;width: auto;min-height:480px;height:auto !important;height:480px;}
.tjs_advantage_title{ padding-left:24px;width: auto; font-size:20px; text-align:left; height:65px; line-height:65px;color:#666; background-color:#F5F5F5;overflow:hidden;}
.tjs_dominant_contentdiv{
	width:auto;
	margin:0px 20px;
	height:92px;
	background-image: url(../../img/ui/dashed_advantage.png);
	background-repeat: repeat-x;
	background-position: left bottom;

}
.tjs_security_bg{
	background-image: url(../../img/ui/security_ico.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.tjs_earnings_bg{
	background-image: url(../../img/ui/earnings_ico.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.tjs_deadline_bg{
	background-image: url(../../img/ui/deadline_ico.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.tjs_quick_bg{
	background-image: url(../../img/ui/quick_ico.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.tjs_major_bg{
	background-image: url(../../img/ui/major_ico.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.tjs_dominant_contentleft{ float:left; width:62px; min-height:92px;height:auto !important;height:95px;}
.tjs_dominant_contentright{ margin-left:70px;width: auto;min-height:92px;height:auto !important;height:92px;}

.tjs_trust_tabtitle{ width:100%; height:64px; line-height:64px; background-color:#FFF;}
/*fuxuan*/
OL LI {margin:8px}
#con {font-size:12px;margin: 0px auto;width: 100%;height:89%;}

#tags {padding: 0px;margin: 0px; width:100%;height: 64px;}
#tags LI {margin-right:0px;width:152px;float: left; list-style-type:none;height:64px; line-height:64;font-size:20px; text-align:center;}
#tags LI A {width:152px;float: left; color: #666;HEIGHT: 64px;line-height: 64px; text-decoration:none;}
#tags LI.emptyTag { width:4px;}
#tags LI.selectTag {margin-bottom:-2px; position:relative;height:64px;font-size:20px;}
#tags LI.selectTag A {font-size:20px;color: #0280cc; line-height: 64px; height: 64px; text-align:center;background-color:#E0E0E0;}
#tagContent {margin:0px;padding:0px;text-align:center;background-color:#FFFFFF;}
.tagContent { display:none; width:100%;color: #474747;height:100%;}
#tagContent DIV.selectTag { display:block;}


.tjs_trust_tabbox{ width:100;min-height:400px;height:auto !important;height:400px;border-right:solid 1px #D3D3D3; border-left:solid 1px #D3D3D3;border-bottom:solid 1px #D3D3D3; background-color:#FFF;overflow:hidden;}
.tjs_trust_coloredorange{ width:152px; height:3px; line-height:3px; font-size:0px;background-color:#fb3d03;}
.tjs_1pxleftmargin{ margin-left:-1px;}
.tjs_151pxleftmargin{ margin-left:151px;}
.tjs_303pxleftmargin{ margin-left:303px;}
.tjs_455pxleftmargin{ margin-left:455px;}

.tjs_trust_content{min-height:206px;height:auto !important;height:206px; border-bottom:solid 1px #ECECEC;}
.tjs_trust_logodiv{ margin-left:36px;height:108px;width:108px; background-color:#FFF;border-radius: 50%;border:solid 2px #B5B5B5;overflow:hidden;}
.tjs_float_left{ float:left;height:auto;}
.tjs_width165px{ width:165px;margin-top:42px;}
.tjs_width210px{ width:210px;}
.tjs_width320px{ width:320px;}
.tjs_width340px{ width:340px;}
.tjs_width270px{ width:270px;}
.tjs_width225px{ width:225px;}
.tjs_height145px{ height:145px; margin-top:28px;}

.tjs_trust_title{ margin-top:16px; width:auto; height:36px; line-height:36px; font-size:16px; color:#0280cc; font-weight:bold; text-align:left;}
.tjs_trust_contentdiv{ margin-right:12px; width:auto; min-height:40px;height:auto !important;height:40px;line-height:25px; font-size:14px; color:#8f8f8f; text-align:left;}
.tjs_trust_bonus{width:auto; height:26px;line-height:26px; font-size:14px; color:#FF6600; text-align:left;}
.tjs_trust_base{ margin-left:20%; margin-top:22px;width:auto; height: auto;line-height:36px; font-size:14px; color:#8f8f8f; text-align:left;}
.tjs_trust_order{margin-top:-5px;width:auto; height: auto;text-align: center;}
.tjs_trust_ordertitle{min-height:40px;height:auto !important;height:40px; color:#8f8f8f; line-height:43px; font-size:16px;}
.tjs_trust_4border{ width:auto; height:auto;border:solid 1px #D6D6D6;  background-color:#FFF;}
.tjs_trust_takecontent{ margin:10px 20px;width:auto; height:auto;color:#8f8f8f;}
.tjs_trust_servicediv{ margin:10px 20px;width:auto; height:auto;color:#ff6600;}
.tjs_trust_servicebtn{margin:10px 20px;width:auto; height:auto;}
.tjs_trust_warning{	margin:10px 20px; padding-left:20px;width:auto;height:26px; line-height:26px;color:#af8952;background-image: url(../../img/ui/warning_ico.png);background-repeat: no-repeat;background-position: left center;
}

/*trust product*/

.tjs_product_coloreddiv{ width:auto; height:3px; line-height:3px; font-size:0px; background-color:#FF6600;}
.tjs_product_allicobg{
	padding-left:42px;
	height:40px;
	background-image: url(../../img/ui/trust_productall.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.tjs_product_search{width:100%;min-height:400px;height:auto !important;height:400px;border-right:solid 1px #E1E1E1; border-left:solid 1px #E1E1E1;border-bottom:solid 1px #E1E1E1; background-color:#FFF;overflow:hidden;}
.tjs_product_search ul{width:100%;height:auto;}
.tjs_product_search ul li{width:100%;height:42px;line-height:42px;}

.tjs_condition_left{width:105px;height:42px; line-height:42px; color:#a1a1a1; text-align:right; float:left;}
.tjs_condition_right{ margin-left:120px;width: auto;height:42px; line-height:42px; color:#a1a1a1; text-align:left;}
.tjs_dashed_bottom{background-image: url(../../img/ui/dashed_advantage.png);
	background-repeat: repeat-x;
	background-position: left bottom;}
.tjst_height_32px{width:100%;height:32px; line-height:32px;}
.tjst_height_50px{width:100%;height:50px; line-height:50px;}
.tjst_pct_search{width:265px;height:31px; line-height:31px; border-bottom: solid 1px #dddddd;border-left: solid 1px #dddddd;border-top: solid 1px #dddddd;border-right: none; color:#333; float:left;}
.tjs_search_left{width:105px;height:50px; line-height:50px; color:#a1a1a1; text-align:right; float:left;}
.tjs_search_right{ margin-left:120px; padding-top:8px;width: auto;height:50px;color:#a1a1a1; text-align:left;}
.tjs_pct_right{ margin-left:120px; width: auto;height:50px; line-height:50px;color:#666; text-align:left;}

.tjs_pct_div{width:100%;min-height:400px;height:auto !important;height:400px;overflow:hidden;}
.tjs_pct_div ul{width: auto;height:auto;}
.tjs_pct_div ul li{ margin-right:6px; margin-left:6px;margin-bottom:20px;width:263px;min-height:360px;height:auto !important;height:360px;overflow:hidden; float:left; background-color:#fff; border:solid 1px #E1E1E1;}

.tjs_pct_icodiv{ margin-left:15px; margin-right:15px;
	width: auto;
	height:145px;
	background-image: url(../../img/ui/dash_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.tjs_pct_unit{width: auto;min-height:360px;height:auto !important;height:360px;overflow:hidden;}
.tjs_pct_title{ height:46px;width:100%; text-align:center;border-bottom:solid 1px #E1E1E1; overflow:hidden;}
a.tjs_pct_titleurl{font-size:20px;color:#666;text-decoration:none;}
a.tjs_pct_titleurl:hover{font-size:20px;color:#FF6600; text-decoration:none;}
.tjs_pct_earningsdiv{height:66px; line-height:66px;width:100%; text-align:center; color:#ff6600; overflow:hidden; font-size:24px;}



/*pages CSS*/
.pgbtn A:link {COLOR: #686868;BORDER: #ccc 1px solid;DISPLAY: block;LINE-HEIGHT: 24px;FONT-FAMILY:Arial; TEXT-DECORATION: none}
.pgbtn A:visited {COLOR: #686868;BORDER: #ccc 1px solid;DISPLAY: block;LINE-HEIGHT: 24px;FONT-FAMILY: Arial; TEXT-DECORATION: none}
.pgbtn A:active {COLOR: #686868;BORDER: #ccc 1px solid;DISPLAY: block;LINE-HEIGHT: 24px;FONT-FAMILY: Arial; TEXT-DECORATION: none}
.pgbtn A:hover{COLOR: #686868;BORDER: #ccc 1px solid;DISPLAY: block;LINE-HEIGHT: 24px;FONT-FAMILY: Arial; TEXT-DECORATION: none}
.pagnum A:link {
	MARGIN: 0px 2px; WIDTH: 26px
}
.pagnum A:visited {
	MARGIN: 0px 2px; WIDTH: 26px
}
.pagnum A:active {
	MARGIN: 0px 2px; WIDTH: 26px
}
.pagnum A:hover {
	MARGIN: 0px 2px; WIDTH: 26px
}
#pagnum_click {
	MARGIN: 0px 2px; WIDTH: 26px; background-color:#DCF1FF; border:solid 1px #06F; color:#06F; display:inline-block;
}
#pagnum_click{MARGIN: 0px 2px;width:26px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block;background-color:#DCF1FF;text-align:center;color:#2388CC;border:solid 1px #2388CC;cursor:pointer;}
.pages {
	MARGIN: 5px 0px 5px 0px; WIDTH:100%; TEXT-ALIGN: center
}
.pagetb {
	MARGIN: 0px auto
}
.pregro {
	WIDTH: 60px; PADDING-TOP: 2px; HEIGHT: 20px
}
.nxtgro {
	WIDTH: 60px; PADDING-TOP: 2px; HEIGHT: 20px
}
.pregro {
	DISPLAY: inline; FLOAT: left; MARGIN: 5px 0px 5px 15px;text-align:center;
}
.nxtgro {
	DISPLAY: inline; FLOAT: right; MARGIN: 5px 15px 5px 0px;text-align:center;
}


/*company CSS*/
.tjs_cpy_icodiv{ margin-left:15px; text-align:center; display: inline-block;
	width:90%;
	height:140px;

	background-image: url(../../img/ui/dash_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	position: relative;
}
.tjs_cpy_logoimg{ margin-top:30px;}
.tjs_cpy_textdiv{margin-left:20px; margin-right:20px; margin-top:20px; margin-bottom:20px;width: auto; line-height:32xp;text-align:left; color:#999999; font-size:16px;}
.tjs_cpy_typle{ width: auto;min-height:230px;height:auto !important;height:230px;border-right:solid 1px #ECECEC; border-left:solid 1px #ECECEC;border-bottom:solid 1px #ECECEC; background-color:#FFF;overflow:hidden;}

.tjs_cpy_unit{ float:left;width: 276px;min-height:230px;height:auto !important;height:230px;}
.tjs_cpy_title{width:350px; height:45px; line-height:45px; color:#0280cc; font-size:20px; text-align:left; float:left;padding-left:42px;
	background-image: url(../../img/ui/trust_productall.png);
	background-repeat: no-repeat;
	background-position: left center;}
.tjs_cpy_searchdiv{ margin-right:0px; padding-top:8px;width:300px;height:45px;color:#a1a1a1; text-align:left; float:right;}
.tjs_cpy_tabletitle_div{border-bottom:solid 1px #ECECEC; background-color:#FAFAFA; color:#999;}
.tjs_cpy_evenbg{background-color:#FAFAFA;}


.tjs_cpy_table tbody tr:hover{ 
background-color: #f4f6fe; 
} 

/*particulars CSS*/
.tjs_pcs_title{width:auto; height:60px; line-height:60px; color:#FF6600; font-size:28px; text-align:left;}
.tjs_pcs_titleleft{width:360px; height:58px; line-height:58px;text-align:left; float: left;}
.tjs_pcs_titleright{ margin-left:360px;width: auto;height:58px; line-height:58px;text-align:right;}
.tjs_pcs_box{ width: auto;min-height:120px;height:auto !important;height:120px; line-height:24px; color:#666; background-color:#FFF;border-bottom:solid 1px #ECECEC;overflow:hidden;}
.tjs_pcs_bable{ font-size:16px;color:#999; }
.tjs_pcs_titleoddbg{background-color:#F2F2F2; padding-left:24px;text-align:left;}
.tjs_pcs_titleevenbg{background-color:#F7F7F7;padding-left:24px;}
.tjs_padding_height16px{ padding:16px 0px;}
.tjs_padding_width24px{ padding:0px 24px;}
.tjs_pcs_textoddbg{padding-left:20px;background-color:#FAFAFA; color:#666; font-size:14px;}
.tjs_pcs_textevenbg{padding-left:20px;background-color:#FFF; color:#666; font-size:14px;}
.tjs_pcs_texttitle{display: inline;padding: 0px 8px;background-color: #3D9FE1;color: #FFF;font-size: 16px;line-height: 22px;}
.tjs_pcs_flow{width: auto;min-height:362px;height:auto !important;height:362px;background-color:#F5F5F5;overflow:hidden;}

.tjs_flowdiv{
	width: auto;
	min-height:232px;
	height:auto !important;
	height:232px;
	background-color:#FFF;
	border:solid 1px #ECECEC;
	overflow:hidden;
	background-image: url(../../img/ui/flow_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.tjs_flowdiv ul{ width:auto; margin-top:145px;}
.tjs_flowdiv ul li{ width:195px; height:auto; line-height:24px; float:left;text-align:center;}
.tjs_margin_L45px{ margin-left:108px;}
.flow_menu{width:125px;min-height:260px;height:auto !important;height:260px;background-color:#FFF;border:solid 1px #ECECEC;overflow:hidden;position: absolute; top:20px; left:-140px;}
.flow_menu ul{width:100%; height: auto;}
.flow_menu ul li{width: auto; text-align:left;height:38px;line-height:38px;color:#0280CC;}
.flow_menu ul li a{ padding-left:28px;width: auto;height:38px;line-height:38px;color:#666; text-align:left;text-decoration:none;background-image: url(../../img/ui/flow_ico.png);background-repeat: no-repeat;	background-position: left center;}
.flow_menu ul li a:hover{padding-left:28px;width:100%;height:39px;line-height:38px;color:#FF6600; text-decoration:none;background-image:url(../../img/ui/flow_hoverico.png);background-repeat: no-repeat;	background-position: left center;}
.flow_menu_dash{background-image: url(../../img/ui/dash_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;}
.flow_menu_solid{border-bottom:solid 1px #ECECEC;}
.flow_menu_titlebg{ background-color:#FAFAFA;}
#flow_menu_click{padding-left:28px;width:100%;height:39px;line-height:38px;color:#FF6600; text-decoration:none;background-image:url(../../img/ui/flow_hoverico.png);background-repeat: no-repeat;	background-position: left center;}

/*company_profile CSS*/
.tjs_pfe_box{ width: auto;min-height:220px;height:auto !important;height:220px; line-height:24px; color:#666; background-color:#FFF;overflow:hidden;}
.tjs_234border{ border:solid 1px #FF6600; border-top:none;}
.tjs_pfe_title{width: auto; margin-left:32px; margin-right:32px;height:65px; line-height:65px; color:#0280CC; font-size:28px; font-weight:bold; text-align:left;border-bottom:solid 1px #ECECEC;}
.tjs_pfe_text{ width: auto;margin-left:32px; margin-right:32px;min-height:60px;height:auto !important;height:60px; line-height:24px; color:#666;overflow:hidden;}
.tjs_pfe_text ul{ width: auto;height: auto;}
.tjs_pfe_text ul li{ width:33%;height:108px; line-height:36px;color:#666;text-align:center; float:left;}
.tjs_pfe_img{float: left;margin-top: 17px;margin-right: 10px;}
.tjs_pfe_about{ margin-right:20px; width:auto; height:auto;color:#999; font-size:14px;overflow:hidden;}
.tjs_pcs_tabletitle{background-color:#F7F7F7;padding-left:24px; font-size:16px;}




.opacity-wrap {
    position: absolute;
    right: 140px;
    top: 180px;
    width: 290px;
    height: 290px;
    z-index: 10;
    background: #000;
    opacity: .6;
    filter: alpha(opacity=60)
}


#tip120 .unlogin-info {
    
    z-index: 99;
    width: 230px;
    height: 230px;
    color: #fff;
}

#tip120 .unlogin-info .orange {
    color: #f90
}

#tip120 .unlogin-info .unlogin-title {
    margin: 5px 0;
}

#tip120 .unlogin-info .unlogin-title .profit-hd {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 16px
}

#tip120 .unlogin-info .unlogin-title .profit-hb {
    margin-left: 5px;
    font-size: 30px;
    color: #f90;
}

#tip120 .unlogin-info .unlogin-title .profit-hb big {
    margin-left: -8px;
    font-size: 40px
}

#tip120 .unlogin-info .security-tip {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 13px
}

#tip120 .unlogin-info .direct-login {
    margin-top: 16px;
    font-size: 14px;
    color: #b5b2b0;
    text-align: right;
}

#tip120 .unlogin-info .direct-login a {
    color: #e4ddd6 !important;
    text-decoration: underline !important;
}

#tip120 .unlogin-info .direct-login a:hover {
    color: #06c !important
}

#tip120 .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#tip120 .btn-danger {
    color: #fff;
    font-size: 14px;
    background-color: #df3932;
    border-color: #df3932
}

#tip120 .btn-register,#tip120 .btn-myassets {
    width: 205px;
    margin-top: 22px
}

/*trust_safeguard CSS*/
.trust_flowtitle{ height:68px; line-height:68px; text-align:center; font-size:36px; color:#666;}
.trust_assurancetitle{ height:68px; line-height:68px; text-align:center; font-size:18px; color:#666;}
.trust_asc_div{ width: auto;min-height:220px;height:auto !important;height:220px;color:#666;overflow:hidden;}
.trust_asc_left{width:50%;min-height:220px;height:auto !important;height:220px; line-height:24px;overflow:hidden; float:left;}
.trust_asc_left ul{ width:100%; height:auto;}
.trust_asc_left ul li{ margin-left:68px; padding-left:18px;
	width: auto;
	height:26px;
	color:#333;
	background-image: url(../../img/ui/arrows_img.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.trust_asc_lefttitle{ padding-left:65px;
	height:68px;
	line-height:68px;
	text-align:left;
	font-size:18px;
	color:#666;
	background-image: url(../../img/ui/trust_NO1.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.trust_asc_right{width: auto;min-height:220px;height:auto !important;height:220px; line-height:24px;overflow:hidden;}
.trust_asc_right ul{ width:100%; height:auto;}
.trust_asc_right ul li{ margin-left:68px; padding-left:18px;
	width: auto;
	height:26px;
	color:#333;
	background-image: url(../../img/ui/arrows_img.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.trust_asc_rtitle{padding-left:65px;
	height:68px;
	 width:100%;
	line-height:68px;
	text-align:left;
	font-size:18px;
	color:#666;
	background-image: url(../../img/ui/trust_NO2.png);
	background-repeat: no-repeat;
	background-position: left center;}
.trust_safety_left{width:50%;min-height:400px;height:auto !important;height:200px; line-height:24px;overflow:hidden; float:left;}
.trust_safety_left ul{ width: auto; height:auto;}
.trust_safety_left ul li{ margin:0px 10px;width:110px;height:110px; line-height:110px; text-align:center;border-radius: 55px; border:solid 1px #3d96e1;overflow:hidden; font-size:16px; font-weight:bold; color:#3d96e1; float:left;}
.trust_safety_right{ margin-left:50%; width:auto;min-height:400px;height:auto !important;height:400px; line-height:24px;overflow:hidden;}
.trust_safety_title{ margin-left:68px;height:58px; line-height:58px; text-align:left; font-size:24px; color:#333;}
.trust_left_safetytitle{height:58px; line-height:58px; text-align:left; font-size:24px; color:#333;}
.trust_safety_message{margin-left:68px; margin-right:36px;width: auto;min-height:50px;height:auto !important;height:50px; line-height:24px;overflow:hidden;}
.trust_left_message{ padding-right:18px;width: auto;min-height:50px;height:auto !important;height:50px; line-height:24px;overflow:hidden;}


.tjs_login_error{
    display: inline-block;
    padding-left:44px;
    line-height:22px;
    text-align: left;
    color:#df4223;
    float:left;
}
.tjs_reg_error{
    display: inline-block;
    padding-left:10px;
    line-height:22px;
    text-align: left;
    color:#df4223;
}