<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjs.admin.zhifu.dao.FundRecordMapper">
	<resultMap id="BaseResultMap" type="com.tjs.admin.zhifu.model.FundRecord">
		<id column="record_id" property="recordId" javaType="java.lang.Long"  jdbcType="BIGINT" />
		<result column="customer_id" property="customerId" javaType="java.lang.Long"  jdbcType="BIGINT" />				
		<result column="fund_type" property="FundType" jdbcType="VARCHAR" />
		<result column="amount" property="amount" javaType="java.math.BigDecimal"/>
		<result column="usable_amount" property="usableAmount" javaType="java.math.BigDecimal"/>
		<result column="business_id" property="businessId" javaType="java.lang.Long"  jdbcType="BIGINT" />
		<result column="record_desc" property="recordDesc" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />	
	</resultMap>
	
	<sql id="Base_select_Column_List">
		record_id,customer_id,fund_type,amount,usable_amount,business_id,record_desc,create_time,create_by
	</sql>

	<sql id="Base_insert_Column_List">
	   customer_id,fund_type,amount,usable_amount,business_id,record_desc,create_time,create_by
	</sql>
	
	 <select id="countFundRecord" resultType="int"
		parameterType="com.tjs.admin.zhifu.controller.FundRecordCtrlModel">
		select count(*) c from tjs_fund_record  where 1=1
		
		<if test="fundRecord!= null and fundRecord.customerId!=null">
         and  customer_id = #{fundRecord.customerId}
        </if>	
     					
	</select>
	
	
	<select id="selectFundRecord"  resultMap="BaseResultMap"  parameterType="com.tjs.admin.zhifu.controller.FundRecordCtrlModel">
		select
		<include refid="Base_select_Column_List" />
				
		from tjs_fund_record where   1=1	
		
		<if test="fundRecord!= null and fundRecord.customerId!=null">
         and  customer_id = #{fundRecord.customerId}
        </if>
        				      
        <if test="sortField!= null and sortField!= ''">
           ORDER BY ${sortField} ${sortType}
        </if>
        
        <if test="sortField== null or sortField== ''">
           ORDER BY create_time desc,record_id asc
        </if>
                      
         <if test="pageNo!= 0">
           LIMIT #{limitStart} ,#{pageSize}
        </if>
        
	</select>
	
	
	<select id="findByFundRecordId"  resultMap="BaseResultMap"  parameterType="Long">
		select			
		<include refid="Base_select_Column_List" />						
		from tjs_fund_record where record_id=#{recordId}							                  
	</select>
	
	<insert id="insertFundRecord" useGeneratedKeys="true"
		keyProperty="recordId" parameterType="com.tjs.admin.zhifu.model.FundRecord">
		insert into tjs_fund_record(
		<include refid="Base_insert_Column_List" />
		) values
		(#{customerId},
		#{fundType},
		#{amount},
		#{usableAmount},
		#{businessId},
		#{recordDesc},
		#{createTime},
		#{createBy}					
		)
	</insert>
	

</mapper>