<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjs.admin.pe.dao.PECompanyMapper">
		
   <resultMap id="peResultMap" type="com.tjs.admin.pe.model.PECompany">
   		<id column="id" property="id" jdbcType="BIGINT" />
   		<result property="logo" column="logo" jdbcType="VARCHAR" />
   		<result property="name" column="name" jdbcType="VARCHAR" />
   		<result property="setupTime" column="setup_time" jdbcType="TIMESTAMP" />
   		<result property="managementScale" column="management_scale" jdbcType="VARCHAR" />
   		<result property="area" column="area" jdbcType="VARCHAR" />
   		<result property="investmentNumber" column="investment_number" jdbcType="VARCHAR" />
   		<result property="productLine" column="product_line" jdbcType="VARCHAR" />
   		<result property="review" column="review" jdbcType="VARCHAR" />
   		<result property="coreCharacter" column="core_character" jdbcType="VARCHAR" />
   		<result property="investmentPhilosophy" column="investment_philosophy" jdbcType="VARCHAR" />
   		<result property="investmentTeam" column="investment_team" jdbcType="VARCHAR" />
   		<result property="companyProfile" column="company_profile" jdbcType="VARCHAR" />
   		<result property="createDate" column="create_date" jdbcType="TIMESTAMP" />
   		<result property="lastModifyDate" column="last_modify_date" jdbcType="TIMESTAMP" />
   		<result property="createrId" column="creater_id" jdbcType="BIGINT"  />
   		<result property="createrName" column="creater_name" jdbcType="VARCHAR" />
   		<result property="recommendLocation" column="recommend_location" jdbcType="VARCHAR"  />
   		<result property="recommendSequence" column="recommend_sequence" jdbcType="VARCHAR"  />
   		<result property="status" column="status" jdbcType="INTEGER" />
   </resultMap>
   
   <sql id="Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
   
   <sql id="Base_select_Column_List">
		    id, logo, name, setup_time, management_scale,
   			area, investment_number, product_line, review, core_character, investment_philosophy,
   			investment_team, company_profile, create_date, last_modify_date,
   			creater_id,creater_name, recommend_location, recommend_sequence, status
	</sql>
    
   <insert id="insertPECompany"  useGeneratedKeys="true"
    keyProperty="id">
   		INSERT INTO  pe_company (<include refid="Base_select_Column_List" />)
   		VALUES (#{id}, 
   		        #{logo}, 
   		        #{name}, 
   		        #{setupTime}, 
   		        #{managementScale},            
   			    #{area}, 
   			    #{investmentNumber}, 
   			    #{productLine}, 
   			    #{review}, 
   			    #{coreCharacter}, 
   			    #{investmentPhilosophy},
   			    #{investmentTeam}, 
   			    #{companyProfile}, 
   			    #{createDate}, 
   			    #{lastModifyDate},
   			    #{createrId}, 
   			    #{createrName}, 
   			    #{recommendLocation}, 
   			    #{recommendSequence}, 
   			    #{status})
   
   </insert>
   
   <delete id="deletePECompany" parameterType="long">
   		DELETE FROM pe_company WHERE id=#{id}
   </delete>
   
   <update id="updatePECompany" parameterType="com.tjs.admin.pe.model.PECompany">
   		UPDATE pe_company 
   		SET logo=#{logo}, 
   		    name=#{name}, 
   		    setup_time=#{setupTime}, 
   		    management_scale=#{managementScale},
   			area=#{area}, 
   			investment_number=#{investmentNumber}, 
   			product_line=#{productLine}, 
   			review=#{review}, 
   			core_character=#{coreCharacter}, 
   			investment_philosophy=#{investmentPhilosophy},
   			investment_team=#{investmentTeam}, 
   			company_profile=#{companyProfile}, 
   			last_modify_date=#{lastModifyDate},
   			recommend_location=#{recommendLocation}, 
   			recommend_sequence=#{recommendSequence}, 
   			status=#{status}
   		WHERE id=#{id}
   </update>
   
   <select id="getPECompanyList" parameterType="com.tjs.admin.pe.controller.PECompanyCtrlModel" resultMap="peResultMap">
       SELECT 
       <include refid="Base_select_Column_List" /> 
       FROM pe_company
       WHERE 1=1
   		<if test="peCompany != null and peCompany.status == 2">
   			AND status = #{peCompany.status}
   		</if>          
   </select>
   
   <select id="selectListCount" parameterType="com.tjs.admin.pe.controller.PECompanyCtrlModel" resultType="int">
   		SELECT count(*) AS total
   		FROM pe_company
   		WHERE 1=1
   		<if test="peCompany != null and peCompany.status == 2">
   			AND status = #{peCompany.status}
   		</if>
    </select>
    
    <select id="getPECompanyById" parameterType="long"
		resultType="com.tjs.admin.pe.model.PECompany">
		SELECT
		<include refid="Base_select_Column_List" />
		FROM pe_company 
		WHERE id=#{id}
	</select>
    
    <delete id="deleteBatchPECompany" parameterType="long" >
		 DELETE FROM pe_company
		 WHERE id in 
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
		  #{idItem}
		</foreach>
	</delete>
	
	 <!-- 分页条件查询 -->
    <select id="getPECompanyListAndPage" resultMap="peResultMap" parameterType="com.tjs.admin.pe.model.PECompany">
        SELECT
        <if test="distinct">
            DISTINCT
        </if>
        <include refid="Base_select_Column_List" />
        FROM pe_company
        <if test="_parameter != null">
            <include refid="Where_Clause" />
        </if>
        <if test="orderByClause != null">
            ORDER BY ${orderByClause}
        </if>
    </select>
	
</mapper>