.up_down{

	width:100%;

	height:60px;

	position:relative;

}

.up_down_arrow{

	width:40px;

	height:40px;

	position:absolute;

	top:9px;

	left:70px;

	-webkit-transform-style: preserve-3d;

	-webkit-transition: 300ms;

	background-image:url(../../img/wx/up_arrow.png);

	background-size: 40px 80px;

	background-repeat: no-repeat;

	-webkit-transform: rotate(-180deg)

	

}

.loading{

	background-position: center -40px;	

	-webkit-transform:rotate(0deg) translateZ(0);

	-webkit-animation-name:loading;

	-webkit-animation-duration:2s;

	-webkit-animation-iteration-count:infinite;

	-webkit-animation-timing-function:linear;

}

@-webkit-keyframes loading {

	from { -webkit-transform:rotate(0deg) translateZ(0); }

	to { -webkit-transform:rotate(360deg) translateZ(0); }

}

.up_down_text{

	width:150px;

	position:absolute;

	height:60px;

	line-height:60px;

	text-align:center;

	top:50%;

	left:50%;

	margin-top:-30px;

	margin-left:-75px;

	color:#878787;

}