<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>淘金山——注册</title>
<link href="css/taojinshan.css" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
</head>

<body>
<div class="home_all">

<div class="header_top">
<div class="tjs_1108px center">
     <span class="time">欢迎您来到淘金山，投资有风险，选择需谨慎！</span>
     <div class="topservice">400-888-896</div>
    <div class="toplinks"><a href="#" class="log_link">登录</a> | <a href="register.html">注册</a></div>    
  </div>
</div>
<!-- /header_top -->

<div class="header_menu">
<div class="tjs_1108px center" style="position: relative;">

     <div class="logo_wrap"><a href="http://www.taojinshan.com.cn"><img src="images/register_logo.png" width="338" height="94" alt="logo" /></a></div>
    
  </div>
</div>
<!-- /header_menu -->

<div class="tjs_register_all_div">
<div class="tjs_1108px center tjs_all_border">

<div class="tjs_schedulediv">
<ul>
<li class="tjs_width330px tjs_backgroundblue tjs_bk_01"><span class="tjs_textwhite">&nbsp;&nbsp;&nbsp;&nbsp;填写帐户信息</span></li>
<li class="tjs_width47px"><img src="images/finish_ico.png" width="47" height="60" /></li>
<li class="tjs_backgroundblue tjs_width330px tjs_bk_02"><span class="tjs_textwhite">&nbsp;&nbsp;&nbsp;&nbsp;验证账户信息</span></li>
<li class="tjs_width47px"><img src="images/arrows_ico.png" width="47" height="60" /></li>
<li class="tjs_backgroundgray_b tjs_width330px tjs_bk_03"><span class="tjs_textgray">注册成功&nbsp;&nbsp;</span></li>
</ul>
</div>

<div class="tjs_register_div">
<div style=" height:30px;width:100%;"></div>
<div class="tjs_register_left">手机号：</div><div class="tjs_register_right"><div class="tjs_numberdiv"><span>13798239230</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class=""><a href="#">更换号码</a></span></div></div>

<div class="tjs_register_left">验证码：</div><div class="tjs_register_right"><input name="email" type="email" class="tjs_register_input  tjs_width176px" tabindex="1" spellcheck="false" placeholder=" 验证码" autofocus x-webkit-speech >&nbsp;&nbsp;<span class="tjs_verificationcode"><a href="#"><img src="images/code_2.png" width="100" height="38"  align="middle"/></a></span></div>
<div class="clearfloat"></div>
<div class="tjs_register_prompt">&nbsp;<img src="images/ico_right.png" width="20" height="20" align="middle" />&nbsp;校验码已发送至您的手机，请查收</div>
<div style="height:60px; width:100%; text-align: center;"><a href="succeed.html" class="tjs_registerbtn">下一步</a></div>
<div style=" height:30px;width:100%;"></div>
</div>
</div>
<!-- /tjs_content_div tjs_1108px -->
</div>
<!-- /tjs_content_div -->



<div class="tjs_footer_div">
<div style=" height:6px; font-size:0px; width:100%; background-color:#959494;"></div>
<div class="tjs_1108px center">
<div class="tjs_footer_copyrightdiv">
<ul>
<li class="tjs_2_border">
<span style="height:45px;display:inline-block;">关于我们</span><br />
<a href="#">公司介绍</a><br />
<a href="#">股东背景</a><br />
<a href="#">媒体报道</a><br />
<a href="#">最新动态</a><br />
</li>
<li class="tjs_2_border">
<span style="height:45px;display:inline-block;">帮助中心</span><br />
<a href="#">新手入门</a><br />
<a href="#">理财问答</a><br />
<a href="#">使用帮助</a><br />
</li>
<li class="tjs_2_border">
<span style="height:50px;display:inline-block;">关注我们</span><br />
<a href="#" class="tjs_footer_sns"><br /><br /><span>&nbsp;腾讯微博</span></a>&nbsp;
<a href="#" class="tjs_footer_sina"><br /><br /><span>&nbsp;新浪微博</span></a>&nbsp;
<a href="#" class="tjs_footer_blog"><br /><br /><span>&nbsp;腾讯微博</span></a>
</li>
<li>
<span style="height:40px;display:inline-block;">客服热线</span><br />
<span class="tjs_service_ico"></span><span style=" float:left;height:40px; line-height:40px;display:inline-block; color:#999;">400-888-896</span><br />
<span style="height:46px; line-height:50px;display:inline-block;">在线咨询</span><br />
<a href="#" class="tjs_footer_qq">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>在线咨询</span></a><span style="font-size:14px; color:#999;">08:00 - 23:00</span>
</li>
</ul>
</div>
<!-- /tjs_footer_copyrightdiv -->

<div class="tjs_footer_copyrightcontent"> <a href="#">商务合作</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">加入我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">免责声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">意见反馈</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">网站地图</a><br />
淘金山互联网在线理财  版权所有 &copy; 2015-2018   粤ICP备 12068806号-1<br />投资有风险，理财需谨慎 

</div>
</div>
<!-- /footer tjs_1108px -->
</div>
</div>
<!-- /home_all -->
</body>
</html>
