<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjs.admin.pe.dao.PEIndexMapper">
	<resultMap id="peIndexProductMap" type="com.tjs.admin.pe.model.PETopProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
   		<result property="name" column="name" jdbcType="VARCHAR"  />
   		<result property="accumulatedIncome" column="accumulated_income" javaType="java.math.BigDecimal"  />
   		<result property="netWorth" column="net_worth" javaType="java.math.BigDecimal"  />
   		<result property="runTime" column="run_time" javaType="java.lang.Integer"  />
   		<result property="managerId" column="manager_id" jdbcType="BIGINT" />
   		<result property="managerName" column="manager_name"  jdbcType="VARCHAR" />
   		<result property="managerLogo" column="manager_logo" jdbcType="VARCHAR" />
   		<result property="managerReview" column="manager_review" jdbcType="VARCHAR" />
   		
   		<result property="yearRate" column="year_rate" javaType="java.math.BigDecimal" />
   		<result property="nowRate" column="now_rate" javaType="java.math.BigDecimal" />
   		<result property="oneRate" column="one_rate" javaType="java.math.BigDecimal" />
   		<result property="towRate" column="tow_rate" javaType="java.math.BigDecimal" />
   		<result property="companyName" column="company_name" jdbcType="VARCHAR" />
   		
    </resultMap>
 
 	 <select id="getTop4PEProductList" resultMap="peIndexProductMap" >
        SELECT 
		  P.id,
		  P.simple_name name,
		  P.accumulated_income,
		  M.ID manager_id,
		  M.NAME manager_name,
		  M.LOGO manager_logo,
		  M.REVIEW manager_review
		FROM
		  PE_PRODUCT P,
		  PE_MANAGER_PRODUCT MP,
		  PE_MANAGER M 
		WHERE P.id = MP.product_id 
		  AND MP.MANAGER_ID = M.ID 
		  AND P.recommend_location = 2
		  AND P.status = 2
		ORDER BY P.ACCUMULATED_INCOME DESC
		LIMIT 0,4
    </select>
    
 	 <select id="getTop4AnyPEProductList" resultMap="peIndexProductMap" >
        SELECT 
		  P.id,
		  P.simple_name name,
		  P.accumulated_income,
		  M.ID manager_id,
		  M.NAME manager_name,
		  M.LOGO manager_logo,
		  M.REVIEW manager_review
		FROM
		  PE_PRODUCT P,
		  PE_MANAGER_PRODUCT MP,
		  PE_MANAGER M 
		WHERE P.id = MP.product_id 
		  AND MP.MANAGER_ID = M.ID 
		  AND P.status = 2
		ORDER BY P.ACCUMULATED_INCOME DESC
		LIMIT 0,4
    </select>
    
 	 <select id="getTop10PEProductList" resultMap="peIndexProductMap" parameterType="com.tjs.web.pe.controller.PESearchCtrlVO">
        SELECT 
		  P.id,
		  P.simple_name name,
		  P.accumulated_income,
		  M.ID manager_id,
		  M.NAME manager_name,
		  M.LOGO manager_logo,
		  P.now_rate,
		  P.one_rate,
		  P.tow_rate,
		  C.name company_name,
		  M.REVIEW manager_review
		FROM
		  PE_PRODUCT P,
		  PE_MANAGER_PRODUCT MP,
		  PE_MANAGER M,
		  PE_COMPANY C
		WHERE P.id = MP.product_id 
		  AND MP.MANAGER_ID = M.ID 
		  AND M.company_id = C.id
		  AND P.status = 2
		  
		 <if test="peType!=0">
		    AND P.fund_type=#{peType}
		 </if>
		
		ORDER BY P.ACCUMULATED_INCOME DESC
		LIMIT 0,10
    </select>
    
 	 <select id="getAnyPEProductList" resultMap="peIndexProductMap"  
 	 	parameterType="com.tjs.web.pe.controller.PESearchCtrlVO">
        SELECT 
		  P.id,
		  P.simple_name name,
		  P.accumulated_income,
		  P.net_worth,
		  P.run_time,
		  P.year_rate,
		  M.ID manager_id,
		  M.NAME manager_name,
		  M.LOGO manager_logo,
		  P.now_rate,
		  P.one_rate,
		  P.tow_rate,
		  C.name company_name,
		  M.REVIEW manager_review
		FROM
		  PE_PRODUCT P,
		  PE_MANAGER_PRODUCT MP,
		  PE_MANAGER M,
		  PE_COMPANY C
		WHERE P.id = MP.product_id 
		  AND MP.MANAGER_ID = M.ID 
		  AND M.company_id = C.id
		
		<choose> 
		     <when test="onLine==1">AND P.status = 2</when>
		     <when test="onLine==0">AND (P.status = 2 OR P.status = 3)</when>
		     <otherwise> </otherwise>
		 </choose>
		
		<if test="peManagerId!=0">
		    AND M.ID=#{peManagerId}
		</if>
		
		<if test="peCompanyId!=0">
		    AND C.ID=#{peCompanyId}
		</if>
		
		<if test="peType!=0">
		    AND P.fund_type=#{peType}
		</if>
		
		<choose> 
		     <when test="peYearRate==1">AND P.year_rate &gt;= 50 </when>
		     <when test="peYearRate==2">AND P.year_rate &gt;= 30 AND P.year_rate &lt; 50</when>
		     <when test="peYearRate==3">AND P.year_rate &gt;= 10 AND P.year_rate &lt; 30</when>
		     <when test="peYearRate==4">AND P.year_rate &gt;= 0  AND P.year_rate &lt; 10</when>
		     <when test="peYearRate==5">AND P.year_rate &lt; 0</when>
		     <otherwise> </otherwise>
		 </choose>
		
		<if test="keyword!=null and keyword!=''">
		    AND (P.name like CONCAT('%',#{keyword},'%') OR C.name like CONCAT('%',#{keyword},'%'))
		 </if>
		 
		<if test="sortField!=null and sortField!=''">
		 	ORDER BY ${sortField} ${sortType}
		</if>
		<if test="sortField==null or sortField==''">
		 	ORDER BY P.ACCUMULATED_INCOME DESC
		</if>
         
        LIMIT #{limitStart} ,#{pageSize}
        
    </select>
    
    <select id="getAnyPEProductListCount" resultType="int"  
    	parameterType="com.tjs.web.pe.controller.PESearchCtrlVO">
        SELECT 
		  count(P.id) c
		FROM
		  PE_PRODUCT P,
		  PE_MANAGER_PRODUCT MP,
		  PE_MANAGER M,
		  PE_COMPANY C
		WHERE P.id = MP.product_id 
		  AND MP.MANAGER_ID = M.ID 
		  AND M.company_id = C.id
		
		<choose> 
		     <when test="onLine==1">AND P.status = 2</when>
		     <when test="onLine==0">AND (P.status = 2 OR P.status = 3)</when>
		     <otherwise> </otherwise>
		 </choose>
		
		<if test="peManagerId!=0">
		    AND M.ID=#{peManagerId}
		</if>
		
		<if test="peCompanyId!=0">
		    AND C.ID=#{peCompanyId}
		</if>
		
		<if test="peType!=0">
		    AND P.fund_type=#{peType}
		</if>
		
		<choose> 
		     <when test="peYearRate==1">AND P.year_rate &gt;= 50 </when>
		     <when test="peYearRate==2">AND P.year_rate &gt;= 30 AND P.year_rate &lt; 50</when>
		     <when test="peYearRate==3">AND P.year_rate &gt;= 10 AND P.year_rate &lt; 30</when>
		     <when test="peYearRate==4">AND P.year_rate &gt;= 0  AND P.year_rate &lt; 10</when>
		     <when test="peYearRate==5">AND P.year_rate &lt; 0</when>
		     <otherwise> </otherwise>
		 </choose>
		
		<if test="keyword!=null and keyword!=''">
		    AND (P.name like CONCAT('%',#{keyword},'%') OR C.name like CONCAT('%',#{keyword},'%'))
		 </if>
		
		<!-- 
		<if test="pageNo!= 0">
           LIMIT #{limitStart} ,#{pageSize}
        </if>  
         -->
        
    </select>
 	 
   
    
</mapper>