<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjs.admin.pe.dao.PEIndexMapper">
	<resultMap id="peIndexProductMap" type="com.tjs.admin.pe.model.PETopProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
   		<result property="name" column="name" jdbcType="VARCHAR"  />
   		<result property="accumulatedIncome" column="accumulated_income" jdbcType="VARCHAR"  />
   		<result property="managerId" column="manager_id" jdbcType="BIGINT" />
   		<result property="managerName" column="manager_name"  jdbcType="VARCHAR" />
   		<result property="managerLogo" column="manager_logo" jdbcType="VARCHAR" />
   		<result property="managerReview" column="manager_review" jdbcType="VARCHAR" />
    </resultMap>
 
 	 <select id="getTop4PEProductList" resultMap="peIndexProductMap" >
        SELECT 
		  P.id,
		  P.name,
		  P.accumulated_income,
		  M.ID manager_id,
		  M.NAME manager_name,
		  M.LOGO manager_logo,
		  M.REVIEW manager_review
		FROM
		  PE_PRODUCT P,
		  PE_MANAGER_PRODUCT MP,
		  PE_MANAGER M 
		WHERE P.id = MP.product_id 
		  AND MP.MANAGER_ID = M.ID 
		ORDER BY P.ACCUMULATED_INCOME DESC
		LIMIT 0,4
    </select>
   
    
</mapper>