<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjs.admin.pe.dao.PEManagerProductMapper">
	<resultMap id="managerProductMap" type="com.tjs.admin.pe.model.PEManagerProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result property="managerId" column="manager_id" jdbcType="BIGINT" />
   		<result property="managerName" column="manager_name" jdbcType="VARCHAR"  />
   		<result property="companyId" column="company_id" jdbcType="BIGINT" />
   		<result property="companyName" column="company_name" jdbcType="VARCHAR" />
   		<result property="productId" column="product_id" jdbcType="BIGINT" />
   		<result property="productName" column="product_name" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_select_Column_List">
        manager_id, manager_name, company_id, company_name, product_id, product_name
    </sql>
    
    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" >
    	<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID() as id
        </selectKey>  
    
        INSERT INTO pe_manager_product (<include refid="Base_select_Column_List" />)
        VALUES 
        <foreach collection="list" item="item" index="index" separator="," > 
                (#{item.managerId}, 
                #{item.managerName}, 
                #{item.companyId}, 
                #{item.companyName}, 
                #{item.productId}, 
                #{item.productName})    
		</foreach>          
    </insert>
    
</mapper>