<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjs.admin.pe.dao.PEProductMapper">
	<resultMap id="peProductMap" type="com.tjs.admin.pe.model.PEProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
   		<result property="name" column="name" jdbcType="VARCHAR"  />
   		<result property="simpleName" column="simple_name" jdbcType="VARCHAR"  />
   		<result property="netWorth" column="net_worth"  />
   		<result property="accumulatedIncome" column="accumulated_income"  />
   		<result property="netWorthTime" column="net_worth_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
   		<result property="setupTime" column="setup_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
   		<result property="runTime" column="run_time"  jdbcType="VARCHAR"  />
   		<result property="nowRate" column="now_rate"   />
   		<result property="towRate" column="tow_rate"  />
   		<result property="oneRate" column="one_rate"   />
   		<result property="yearRate" column="year_rate"  />
   		<result property="fundType" column="fund_type" jdbcType="INTEGER" />
   		<result property="productLevel" column="product_level" jdbcType="INTEGER" />
   		<result property="distributionPlatform" column="distribution_platform" jdbcType="VARCHAR"  />
   		<result property="custodianBank" column="custodian_bank" jdbcType="VARCHAR"  />
   		<result property="stockbrokers" column="stockbrokers" jdbcType="VARCHAR"  />
   		<result property="fundProperty" column="fund_property" jdbcType="INTEGER" />
   		<result property="whetherStructure" column="whether_structure" jdbcType="VARCHAR"  />
   		<result property="openTime" column="open_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
   		<result property="subscripStart" column="subscrip_start" />
   		<result property="subscripFee" column="subscrip_fee"  />
   		<result property="exitFee" column="exit_fee"  />
   		<result property="managementFee" column="management_fee"  />
   		<result property="recommendReason" column="recommend_reason" jdbcType="VARCHAR"  />
   		<result property="createDate" column="create_date" jdbcType="TIMESTAMP" />
   		<result property="lastModifyDate" column="last_modify_date" jdbcType="TIMESTAMP" />
   		<result property="createrId" column="creater_id" jdbcType="BIGINT"  />
   		<result property="createrName" column="creater_name" jdbcType="VARCHAR" />
   		<result property="recommendLocation" column="recommend_location" jdbcType="VARCHAR"  />
   		<result property="recommendSequence" column="recommend_sequence" jdbcType="VARCHAR"  />
   		<result property="status" column="status" jdbcType="INTEGER" />
   		<result property="pecompanyId" column="pecompany_id" jdbcType="BIGINT" />
   		<result property="pecompanyName" column="pecompany_name" jdbcType="VARCHAR"  />
   		<result property="managerId" column="manager_id" jdbcType="BIGINT" />
   		<result property="managerName" column="manager_name" jdbcType="VARCHAR"  />
   		<result property="isShow" column="is_show" jdbcType="INTEGER"  />
    </resultMap>
    
    
    <resultMap id="peProductManagerMap" type="com.tjs.admin.pe.model.PEProduct">
        <id column="id" property="id" jdbcType="BIGINT" />
   		<result property="name" column="name" jdbcType="VARCHAR"  />
   		<result property="simpleName" column="simple_name" jdbcType="VARCHAR"  />
   		<result property="netWorth" column="net_worth"  />
   		<result property="accumulatedIncome" column="accumulated_income"  />
   		<result property="netWorthTime" column="net_worth_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
   		<result property="setupTime" column="setup_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
   		<result property="runTime" column="run_time"  jdbcType="VARCHAR"  />
   		<result property="nowRate" column="now_rate"   />
   		<result property="towRate" column="tow_rate"  />
   		<result property="oneRate" column="one_rate"   />
   		<result property="yearRate" column="year_rate"  />
   		<result property="fundType" column="fund_type" jdbcType="INTEGER" />
   		<result property="productLevel" column="product_level" jdbcType="INTEGER" />
   		<result property="distributionPlatform" column="distribution_platform" jdbcType="VARCHAR"  />
   		<result property="custodianBank" column="custodian_bank" jdbcType="VARCHAR"  />
   		<result property="stockbrokers" column="stockbrokers" jdbcType="VARCHAR"  />
   		<result property="fundProperty" column="fund_property" jdbcType="INTEGER" />
   		<result property="whetherStructure" column="whether_structure" jdbcType="VARCHAR"  />
   		<result property="openTime" column="open_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
   		<result property="subscripStart" column="subscrip_start" />
   		<result property="subscripFee" column="subscrip_fee"  />
   		<result property="exitFee" column="exit_fee"  />
   		<result property="managementFee" column="management_fee"  />
   		<result property="recommendReason" column="recommend_reason" jdbcType="VARCHAR"  />
   		<result property="createDate" column="create_date" jdbcType="TIMESTAMP" />
   		<result property="lastModifyDate" column="last_modify_date" jdbcType="TIMESTAMP" />
   		<result property="createrId" column="creater_id" jdbcType="BIGINT"  />
   		<result property="createrName" column="creater_name" jdbcType="VARCHAR" />
   		<result property="recommendLocation" column="recommend_location" jdbcType="VARCHAR"  />
   		<result property="recommendSequence" column="recommend_sequence" jdbcType="VARCHAR"  />
   		<result property="status" column="status" jdbcType="INTEGER" />
   		<result property="pecompanyId" column="pecompany_id" jdbcType="BIGINT" />
   		<result property="pecompanyName" column="pecompany_name" jdbcType="VARCHAR"  />
   		<result property="managerId" column="manager_id" jdbcType="BIGINT" />
   		<result property="managerName" column="manager_name" jdbcType="VARCHAR"  />
   		<result property="isShow" column="is_show" jdbcType="INTEGER"  />
   		<result property="managerLog" column="manager_log" jdbcType="VARCHAR"  />
   		<result property="managerReview" column="manager_review" jdbcType="VARCHAR"  />
    </resultMap>
    
    <sql id="Base_select_Column_List">
        id, name, simple_name, net_worth, accumulated_income,
        net_worth_time, setup_time, run_time, now_rate, tow_rate,
        one_rate, year_rate, fund_type, product_level, distribution_platform,
        custodian_bank, stockbrokers, fund_property, whether_structure,
        open_time, subscrip_start, subscrip_fee, exit_fee, management_fee,
        recommend_reason, create_date, last_modify_date, creater_id,
        creater_name, recommend_location, recommend_sequence, status,
        pecompany_id, pecompany_name, manager_id, manager_name, is_show
    </sql>
    
    <select id="getPEProductById" resultMap="peProductMap" parameterType="long">
        SELECT
        <include refid="Base_select_Column_List" />
        FROM pe_product
        WHERE id = #{id}
    </select>
 
 	 <select id="getPEProductList" resultMap="peProductMap" parameterType="com.tjs.admin.pe.controller.PEProductCtrlModel">
        SELECT
        <include refid="Base_select_Column_List" />
         FROM pe_product
         WHERE 1=1
         <if test="peProduct.pecompanyId != null and peProduct.pecompanyId != 0">
         	AND (pecompany_id = #{peProduct.pecompanyId})
         </if>
         
         <if test="managerId != null and managerId != ''">
         	AND (manager_id = #{managerId})
         </if>
         
         <if test="peProduct.status != 0">
         	AND (status = #{peProduct.status})
         </if>
         
         <if test="peProduct!=null and peProduct.recommendLocation!=null and  peProduct.recommendLocation!= ''">
         	AND (recommend_location = #{peProduct.recommendLocation})
         </if>
         
         <if test="keyWord!= null and keyWord!= ''">
           AND (name like CONCAT('%',#{keyWord},'%'))
         </if>
         
         <if test="sortField!= null and sortField!= ''">
           ORDER BY #{sortField} #{sortType}
        </if>
        
         <if test="pageNo!= 0">
           LIMIT #{limitStart} ,#{pageSize}
        </if>  
    </select>
    
     <select id="selectListCount" parameterType="com.tjs.admin.pe.controller.PEProductCtrlModel" resultType="java.lang.Integer">
        SELECT COUNT(*) AS total FROM pe_product
        WHERE 1=1
        <if test="peProduct.pecompanyId != null and peProduct.pecompanyId != 0">
         	AND (pecompany_id = #{peProduct.pecompanyId})
         </if>
         
         <if test="managerId != null and managerId != ''">
         	AND (manager_id = #{managerId})
         </if>
         
         <if test="peProduct.status != 0">
         	AND (status = #{peProduct.status})
         </if>
         
          <if test="peProduct!=null and peProduct.recommendLocation!=null and  peProduct.recommendLocation!= ''">
         	AND (recommend_location = #{peProduct.recommendLocation})
           </if>        
        <if test="keyWord!= null and keyWord!= ''">
           AND (name like CONCAT('%',#{keyWord},'%'))
         </if>
    </select>
    
    <insert id="insertPEProduct" parameterType="com.tjs.admin.pe.model.PEProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pe_product (<include refid="Base_select_Column_List" />)
        VALUES (#{id}, 
                #{name}, 
                #{simpleName}, 
                #{netWorth}, 
                #{accumulatedIncome}, 
                #{netWorthTime}, 
                #{setupTime}, 
                #{runTime}, 
                #{nowRate},
                #{towRate}, 
                #{oneRate}, 
                #{yearRate}, 
                #{fundType}, 
                #{productLevel}, 
                #{distributionPlatform}, 
                #{custodianBank}, 
                #{stockbrokers}, 
                #{fundProperty}, 
                #{whetherStructure}, 
                #{openTime},
                #{subscripStart}, 
                #{subscripFee}, 
                #{exitFee}, 
                #{managementFee}, 
                #{recommendReason}, 
                #{createDate}, 
                #{lastModifyDate}, 
                #{createrId},
                #{createrName}, 
                #{recommendLocation}, 
                #{recommendSequence},
                #{status}, 
                #{pecompanyId}, 
                #{pecompanyName},
                #{managerId},
                #{managerName},
                #{isShow})              
    </insert>
 
 	 <update id="updatePEProduct" parameterType="com.tjs.admin.pe.model.PEProduct">
   		UPDATE pe_product 
   		SET name=#{name}, 
   		    simple_name=#{simpleName}, 
	   		net_worth=#{netWorth}, 
	   		accumulated_income=#{accumulatedIncome},
	   		net_worth_time=#{netWorthTime}, 
	   		setup_time=#{setupTime}, 
	   		run_time=#{runTime}, 
	   		now_rate=#{nowRate},
	        tow_rate=#{towRate}, 
	        one_rate=#{oneRate}, 
	        year_rate=#{yearRate}, 
	        fund_type=#{fundType}, 
	        product_level=#{productLevel}, 
	        distribution_platform=#{distributionPlatform}, 
	        custodian_bank=#{custodianBank}, 
	        stockbrokers=#{stockbrokers}, 
	        fund_property=#{fundProperty}, 
	        whether_structure=#{whetherStructure}, 
	        open_time=#{openTime},
	        subscrip_start=#{subscripStart}, 
	        subscrip_fee=#{subscripFee}, 
	        exit_fee=#{exitFee}, 
	        management_fee=#{managementFee}, 
	        recommend_reason=#{recommendReason}, 
	        last_modify_date=#{lastModifyDate}, 
	        recommend_location=#{recommendLocation}, 
	        recommend_sequence=#{recommendSequence},
	        status=#{status}, 
	        pecompany_id=#{pecompanyId}, 
	        pecompany_name=#{pecompanyName},
	        manager_id=#{managerId},
	        manager_name=#{managerName},
	        is_show=#{isShow}
   		WHERE id=#{id}
   </update>
   
    <update id="updatePEProductShow" parameterType="com.tjs.admin.pe.model.PEProduct">
   		UPDATE pe_product 
   		SET is_show=#{isShow}
   		WHERE id=#{id}
   </update>
   
   
   <select id="getPEProductShow" resultMap="peProductMap" parameterType="com.tjs.admin.pe.model.PEProduct">
        SELECT
        <include refid="Base_select_Column_List" />
         FROM pe_product
         WHERE is_show=#{isShow}
         AND manager_id=#{managerId}
    </select>
    
   
    
    <select id="selectStarPEProductIndex" resultMap="peProductManagerMap" parameterType="com.tjs.admin.pe.controller.PEProductCtrlModel">
        SELECT
          pe_product.id, pe_product.name, simple_name, net_worth, accumulated_income,
        net_worth_time, setup_time, run_time, now_rate, tow_rate,
        one_rate, year_rate, fund_type, product_level, distribution_platform,
        custodian_bank, stockbrokers, fund_property, whether_structure,
        open_time, subscrip_start, subscrip_fee, exit_fee, management_fee,
        recommend_reason, pe_product.create_date, pe_product.last_modify_date, pe_product.creater_id,
        pe_product.creater_name, pe_product.recommend_location, pe_product.recommend_sequence, pe_product.status,
        pecompany_id, pecompany_name, manager_id, manager_name, is_show,pe_manager.logo manager_log,pe_manager.review manager_review
         FROM pe_product,pe_manager
         WHERE manager_id = pe_manager.id        
         <if test="peProduct.status != 0">
         	AND (pe_product.status = #{peProduct.status})
         </if>        
         <if test="peProduct!=null and peProduct.recommendLocation!=null and  peProduct.recommendLocation!= ''">
         	AND (pe_product.recommend_location = #{peProduct.recommendLocation})
         </if>                     
         <if test="sortField!= null and sortField!= ''">
           ORDER BY ${sortField} ${sortType}
        </if>        
         <if test="pageNo!= 0">
           LIMIT #{limitStart} ,#{pageSize}
        </if>  
    </select>
</mapper>